<!--
  Generated template for the SalonReviewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header style="height:116px !important;background: white;">

      <div class="backButton"  style="padding:5px;" (click)="goBack()" >
        <img style="height:20px; width:20px;"  src="./assets/imgs/cutom_back_ico.png">
      </div>
    <div class="headerLabel">Reviews</div>
  </ion-header>


<ion-content padding 
padding style="padding: 10px; margin:0px; margin-top: 10px; margin-right: 0px; margin-bottom: 0px; 
margin-left: 0px; background-color: #F5F5F5;"
>


<div>
</div>


<ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)" 
no-lines style="padding: 0px;	margin:0px; margin-bottom:16px;"
*ngFor="let review of allReviews; let i = index; let lastIndex=last"
class="notification_list">
<ion-item  text-wrap class="notification_list"  style="	padding-top: 0px;
padding-right: 0px;
border-radius:2px;
padding-bottom: 0px;
padding-left: 0px; margin:0px; "  class="notification_list">
<ion-item  no-lines  style=" padding-right: 0px; margin:0px;"  class="notification_list"> 
 

  <div  style="padding-bottom:0px;" >
    <span class="notHeader">
      {{review.cust_name}}
    </span>
    <span class="DateStyle" >
        {{getDateFormated(review.app_review_datetime)}}
    </span>
  </div>
  <rating class="rating" [(ngModel)]="review.app_rating" 
  readOnly="true" 
  max="5" 
  (ngModelChange)="onModelChange($event)"
  emptyStarIconName="star-outline" 
  halfStarIconName="star-half" 
  starIconName="star" 
  value=2
  nullable="false" ></rating>
  <p class="ReviewsDetails"   >
      {{review.app_review}}
  </p>
</ion-item>
</ion-item>
 </ion-list> 





</ion-content>
