page-app-info {
    .serviceCellSelected {
        background: red !important;
        width: 100%;
        background: rgb(235, 235, 235);
        // margin-top: 0pt;
        position: relative;
        z-index: 10;
        // border: 0.5px solid black;
        margin: 10px 0px !important;
        .checkBoxCol {
            position: relative;
            width: 100%;
            background: rgb(255, 255, 255);
            // border-right: 1px solid rgb(222, 32, 90);
            //  background: green !important;
            // margin-bottom: 1pt;
            .CheckBox {
                // background: red !important;
                width: 12.7pt;
                height: 12.7pt;
                margin-left: 2pt;
                // float: left;
                position: relative;
                top: 40%;
                transform: translateY(-40%);
                .checkbox-icon {
                    border-color: rgb(222, 32, 90);
                    background-color: white;
                }
            }
        }
        .serviceNameCol {
            
            background: rgb(255, 255, 255);
            position: relative;
            margin-bottom: 1pt;
            // background: blue !important;
            .serviceName {
                width: 100%; 
                line-height: 22.5pt; // background: white;
                text-align: left !important; // font-family: $Montserrat-SemiBold !important;
                // font-family: $Montserrat-Medium !important;
                font-size: 3.7vw;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(77, 77, 77);
                padding-left: 5px;
            }
            .serviceTime {
                width: 100%;
                margin-top: 0pt;
                text-align: left !important;
                font-family: $montserrat-light !important;
                font-size: 3.17vw;
                color: rgb(174, 174, 174);
                padding-left: 5px;
                margin-bottom: 3px !important;
            }
        }
        .serPriceCol {
            position: relative;
            width: 100%; // height: 100%;
            background: rgb(255, 255, 255); // background: blue;
            margin-bottom: 1pt; // position: relative;
            .serviceCost {
                width: 100%;
                background: rgb(255, 255, 255);
                color: rgb(27, 27, 27);
                margin-top: 0pt !important;
                font-size: 3.7vw;
                line-height: 22.5pt;
                font-family: $Montserrat-Regular; //  font-family: $Montserrat-Medium !important; // line-height: 15pt;
                text-align: right;
                padding-right: 3pt !important; // position: relative;
                
            }
        }
        .approx-time {
            // background: darkorange;
            font-size: 3.43vw; // background: red;
            height: 35%;
            line-height: 13px;
            margin-bottom: 0px !important; // font-family: $Montserrat-SemiBold !important;
            font-family: $Montserrat-Bold;
            color: rgb(80, 80, 80);
        } // }
        .note {
            color: #000;
            font-size: 4.63vw;
            font-family: $Montserrat-SemiBold !important;
        }
    }
    .EnterActivationCode {
        font-size: 6.34vw !important;
        font-family:  $Montserrat-SemiBold;
        margin: 10px 12px;
        text-align: center;
        color: rgb(222, 32, 90);
    }
}
