<ion-header class="ion-header font-for-header" no-border>
  <img class="app-logo-in-header" src="./assets/imgs/logo-white.png" alt="">
</ion-header>
<ion-content padding>
  <div [innerHtml]='forceUpdateMessage' ></div>
  </ion-content>
