page-force-update {
    .scroll-content {
        overflow: hidden;
    }
    .ion-header {
        background: white;
        min-height: 116px !important;
        box-shadow: none !important;
        .app-logo-in-header {
            box-shadow: none !important;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 0pt !important;
            margin-bottom: 0pt !important;
        }
        box-shadow: none;
    }
    div {
        position: relative;
        top: 35% !important;
        transform: translateY(-35%) !important;
        background: white;
        letter-spacing: 1px !important;
        font-size: 3.7vw !important;
        margin: 0px 1.5vw !important;
        line-height: 8vw !important;
        font-family: $Montserrat-SemiBold;
        
    }
}