<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading"> Confirm Appointment </ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div></div>
  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>


<ion-content scrollX="false" class="BaseContentContainer">


  <ion-label text-wrap class="lblReviewAppointment">Review your appointment details</ion-label>


  <ion-list class="salonCard" *ngIf="objDoctorInfo">
    <ion-row class="doctor-info-row">
      <ion-col class="col-img-doctor">
        <img class="salBackImage" [src]="objDoctorInfo.pic"
        onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'" />
      </ion-col>
      <ion-col>
        <div class="col-right-sal-info">
          <ion-label text-wrap text-left class="salonName">
            {{ objDoctorInfo.name }}
          </ion-label>
          <ion-label text-wrap text-left *ngIf="objDoctorInfo.specialty.length > 0"
            class="salonName lbl-sal-speciality">
            ({{ objDoctorInfo.specialty }})
          </ion-label>

          <ion-row class="degree-row" *ngIf="objDoctorInfo.degree.length > 0">
            <ion-col hidden class="col-degree-number">
              <img class="img-degree" src="./assets/imgs/degree.png" alt="" />

            </ion-col>
            <ion-col>
              <ion-label text-wrap class="lbl-degree"> {{objDoctorInfo.degree}} </ion-label>

            </ion-col>
          </ion-row>


        </div>
      </ion-col>
    </ion-row>


    <div class="salonSeparator"></div>

    <ion-row class="address-row" *ngIf="selectedSalon">
      <ion-col class="col-degree-number">
        <img class="img-degree" src="./assets/imgs/location_doc.png" alt="" />

      </ion-col>
      <ion-col>
        <ion-label text-wrap class="lblBoldText"> {{ objDoctorInfo.location }} </ion-label>
      </ion-col>
    </ion-row>

  </ion-list>

  <!-- end new code  -->

  <!-- <ion-row hidden>
    <ion-col class="col-left-image">
      <div></div>
      <img *ngIf="selectedSlot" [src]="baseUrl + selectedTech.tech_pic" class="techImage" />

    </ion-col>
    <ion-col class="col-right-tech">

      <div text-wrap  class="techNamelb"> {{ selectedTech.tech_name }} </div>
      <div text-wrap class="specialityvaluelb"> ( {{ selectedTech.tech_specialty }} ) </div>
      <div text-wrap class="specialityvaluelb"> 287-Y Block, Mezzanine floor, Street 8، Commercial Area, DHA Phase 3, Lahore, 54792 </div>
    </ion-col>
  </ion-row> -->

  <ion-card no-padding no-margin no-lines class="DateAndTimeBookedCard">
    <ion-row>
      <ion-col col-4>
        <ion-label class="lblBoldTextDate">Date & Time

          <span class="lblDimTextdate"></span>
        </ion-label>
      </ion-col>


    </ion-row>
  </ion-card>
  <ion-row class="DateAndTimeDetailRow">
    <ion-col col-5>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Date
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{ AppointmentDateForConfirmation }}
      </ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Day
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{ AppointmentDayName }}</ion-label>
    </ion-col>
    <ion-col col-3>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Time
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>
        {{ getSlotFromattedTime(this.selectedSlot.ts_start_time) }}</ion-label>
    </ion-col>
  </ion-row>

  <ion-label class="lblBoldText"> Services </ion-label>
  <ion-card no-padding no-margin no-lines class="selectedServicesCard">
    <ion-row no-padding no-margin no-lines class="serviceCellSelected">

      <ion-col class="serviceNameCol">
        <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>
          Consultancy fee
        </ion-label>

      </ion-col>
      <ion-col class="serPriceCol" col-3 col-xs>
        <div no-padding no-margin no-lines text-capitalize text-wrap text-capitalize [ngClass]="selectedTech.tech_discounted_fee === selectedTech.tech_fee ? 'serviceCost' : 'serviceCostStrikeThrough'" >
          {{ currencySymbol }} {{ roundAmount(selectedTech.tech_fee) }}</div>
          <div no-padding no-margin *ngIf="selectedTech.tech_discounted_fee !== selectedTech.tech_fee" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize class="serviceCost">
            {{ currencySymbol }} {{ roundAmount(selectedTech?.tech_discounted_fee) }}</div>

      </ion-col>
    </ion-row>
  </ion-card  >


  <div style="margin-top:1vw"></div>
  


  <ion-label no-padding [hidden]="!appointmentCharges || appointmentCharges === '0' " class="lbl-charges-discount">
    Appointment Charges
    <span class="lbl-charges-discount-value"> {{ currencySymbol }} {{appointmentCharges}}</span>
  </ion-label>

  <ion-label no-padding no-margin [hidden]="!appointmentCharges || appointmentCharges === '0' "
    class="lbl-charges-discount">Discount
    <span class="lbl-charges-discount-value"> - {{ currencySymbol }} {{appointmentDiscount}}</span>
  </ion-label>
  <ion-label [hidden]="!appointmentCharges || appointmentCharges === '0' " no-padding no-margin
    class="service-separator"></ion-label>
  <ion-card no-padding no-margin no-lines class="DateAndTimeBookedCard">
    <ion-row>
      <ion-col col-4>
        <ion-label class="lblBoldTextDate">Total payable </ion-label>
      </ion-col>

      <ion-col col-8 no-padding>
        <ion-label no-padding class="lblTotal">
          <span class="lblPrice">
            {{ currencySymbol }} {{ appointmentTotalPrice }}
          </span>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>



  <ion-row hidden class="DateAndTimeDetailRow">
    <ion-col col-5>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Date
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{ AppointmentDateForConfirmation }}
      </ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Day
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>{{ AppointmentDayName }}</ion-label>
    </ion-col>
    <ion-col col-3>
      <ion-label class="lblDateField" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>Time
      </ion-label>
      <ion-label class="lblDateValue" no-padding no-margin no-lines text-capitalize>
        {{ getSlotFromattedTime(this.selectedSlot.ts_start_time) }}</ion-label>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <button style="text-transform: none;" [disabled]="!gotBookCharges" class="btnConfirmBooking"
    (click)="btnBookAppointmentTapped()">
    Confirm Booking
  </button>
</ion-footer>
