page-confirm-booking {

    .BaseContentContainer {
        overflow: hidden;
        // background: rgb(245, 245, 245);
    }

    .lbl-browse-category {
        color: rgb(35, 31, 32);
        font-family: $Montserrat-SemiBold;
        font-size: 3.7vw;
        text-align: left;
        color: rgb(35, 31, 32);
        margin-left: 13px !important; // background: green;
    }

    .lbl-product-price-value {
        margin-top: 0pt;
        font-size: 4.23vw;
        text-align: left !important;
        letter-spacing: 0.3px;
        color: rgb(227, 63, 73);
        font-family: 'Montserrat-Regular' !important; // margin-top: 2px !important;
    }

    .item-ios .toggle-ios {
        padding: 1.058vw 1.32vw;
    }

    .item-md .toggle-md {
        padding: 1.058vw 1.32vw;
    }

    .toggle-md,
    .toggle-ios .toggle-inner {
        background-color: white;
    }

    .toggle-ios.toggle-checked .toggle-icon,
    .toggle-md.toggle-checked .toggle-icon {
        background-color: $MyDoc-Shadded-color;
    }

    .toggle-ios .toggle-icon {
        border-radius: 14px;
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        background-color: $MyDoc-Shadded-color;
        -webkit-transition: background-color 300ms;
        transition: background-color 300ms;
        pointer-events: none;
    }

    .toggle-md .toggle-icon {
        border-radius: 14px;
        position: relative;
        display: block;
        /* width: 100%; */
        /* height: 100%; */
        background-color: #dedede;
        -webkit-transition: background-color 300ms;
        transition: background-color 300ms;
        pointer-events: none;
        position: relative;
        width: 36px;
        height: 14px;
    }

    .lblReviewAppointment {

        margin-top: 4.5vw !important;
        margin-bottom: 3vw !important;
        // margin-top: 30px !important;
        // margin-bottom: 20px !important;
        width: 100%;
        text-align: left;
        // margin-left: 12px;
        margin-left: 2.5vw !important;
        margin-right: 9px;
        width: calc(100% - 18px);

        background: transparent;
        font-family: $Montserrat-SemiBold !important;
        font-size: 4.23vw;
        color: rgb(35, 31, 32);
        // background: green;

    }

    .col-left-image {
        // background: green;

        &:first-of-type {
            flex: 0 0 20% !important;
        }

        .techImage {
            // left: 2vw;
            margin-left: 2vw;
            width: 17vw;
            height: 17vw;
            position: relative;
            border-radius: 50%;
            position: relative;
            margin-top: 8%; //calc(100% - 17vw)/2 !important;
            // top: 25% !important;
            // transform: translateY(-25%) !important;
            // background: purple;
        }
    }

    .col-right-tech {
        // background: gold;

        .techNamelb {

            text-align: left;
            width: 100% !important;
            overflow: hidden !important;

            color: rgba(255, 95, 109, 0.9);
            font-family: $Montserrat-SemiBold !important;
            // line-height: 3.8vw !important;
            font-size: 4vw;
            // background: purple;
            margin-left: 2vw;
            margin-top: 2vw !important;
        }

        .specialityvaluelb {
            font-family: $Montserrat-SemiBold !important;

            line-height: 3.8vw !important;

            font-size: 3vw;
            color: rgb(174, 174, 174);
            width: 100% !important;

            // background: dodgerblue !important;

            // margin-top: 0vw !important;
            margin-top: 1vw !important;
            margin-left: 2vw;
        }
    }

    .lblBoldText {

        margin-left: 3vw !important;
        font-size: 4.23vw;
        color: rgb(35, 31, 32);

        font-family: $Montserrat-SemiBold !important;

        .lblDimText {
            text-align: left;
            letter-spacing: 0.3px;
            color: rgba(104, 104, 104, 0.9);
            margin-top: 10px;
            margin-bottom: 15px;

            font-family: $Montserrat-Regular !important;

        }
    }

    .lbl-charges-discount {
        width: calc(100% - 6vw) !important;
        margin: 0vw 3vw !important;

        float: left;

        color: rgba(104, 104, 104, 0.9);
        font-family: $Montserrat-Regular !important;

        font-size: 4.23vw;
        min-height: 6.5vw;
        padding: 0.4vw;

        .lbl-charges-discount-value {
            text-align: left;
            float: right;
            letter-spacing: 0.3px;

            font-size: 4vw;
            color: rgb(35, 31, 32);
            font-family: $Montserrat-SemiBold !important;

        }
    }

    .DateAndTimeBookedCard {
        width: calc(100% - 6vw) !important;
        margin: 0vw 3vw !important;

        box-shadow: none;
        background: transparent;
        margin-top: 11.7px !important;
        margin-bottom: 0vw !important;

        .lblBoldTextDate {

            float: left;

            font-size: 4.23vw;
            color: rgb(35, 31, 32);
            font-family: $Montserrat-SemiBold !important;
            background: transparent !important;

            .lblDimTextdate {
                text-align: left;
                letter-spacing: 0.3px;
                color: rgba(104, 104, 104, 0.9);
                margin-top: 10px;
                margin-bottom: 15px;
                font-family: $Montserrat-Regular !important;

            }
        }

        .lblTotal {
            float: right;
            margin-right: 5.3px;
            font-size: 3.7vw;
            line-height: 22px;
            color: rgba(66, 66, 66, 0.9);

            font-family: $Montserrat-Bold !important;

            text-align: right;

            .lblPrice {
                font-size: 3.7vw;
                text-align: left;
                letter-spacing: 0.3px;
                color: rgb(222, 32, 90);
                float: right;
                font-family: $Montserrat-Bold !important;
                margin-right: 0pt !important;
                margin-left: 9pt !important;
            }
        }

    }

    .DateAndTimeDetailRow {
        width: 100%;
        // height: 66px;
        // background: chocolate;
        // margin-bottom: 0vw !important;
        background: white;
        position: relative;
        margin-bottom: 3vw !important;

        .lblDateField {
            font-family: $Montserrat-SemiBold;
            width: 100%;
            font-size: 3.7vw;
            line-height: 22.5px; // background: green;
            text-align: left !important;
            // background: purple;
            // font-family: $Montserrat-SemiBold !important;
            // font-family: $Montserrat-SemiBold !important; // background: green;
            color: rgb(77, 77, 77);
            margin-top: 13px;
            margin-left: 10px !important;
            padding-top: 1vw !important;
            padding-bottom: 1vw !important;
        }

        .lblDateValue {
            // background: #e74e86;
            width: 100%;
            font-size: 3.43vw;

            margin-top: 0px;
            text-align: left !important;
            margin-left: 10px !important;
            font-family: $Montserrat-SemiBold;
            color: rgb(174, 174, 174);
            padding-top: 1vw !important;
            padding-bottom: 1vw !important;
            // margin-bottom: 110vw !important;
        }

        .DateDetailCol {
            background: red;
        }
    }

    .selectedServicesCard {
        width: 100%;
        box-shadow: none;
        margin-bottom: 1px;
        background: white !important;

        .serviceCellSelected {

            width: calc(100% - 6vw) !important;
            margin: 0vw 3vw !important;
            background: rgb(235, 235, 235);
            margin-top: 0px;
            position: relative; // background: gold;

            .checkBoxCol {
                position: relative;
                width: 100%;
                background: rgb(255, 255, 255); // background: red !important;
                margin-bottom: 1px;

                .CheckBox {
                    // background: red !important;
                    width: 12.7px;
                    height: 12.7px;
                    margin-left: 8px;
                    float: left;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);

                    .checkbox-icon {
                        border-color: rgb(77, 77, 77);
                        background-color: white;
                    }
                }
            }

            .serviceNameCol {
                padding-left: 10px;
                background: rgb(255, 255, 255);
                position: relative;
                margin-bottom: 1px;

                .serviceName {
                    width: 100%;
                    line-height: 22.5pt;

                    text-align: left !important;

                    font-size: 3.7vw;

                    font-family: $montserrat-light !important;
                    color: rgb(77, 77, 77);
                    
                    padding-top: 3vw !important;
                    padding-bottom: 3vw !important;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    
                }

                .serviceTime {
                    margin-left: 10px;
                    //background: #e74e86;
                    width: 100%;
                    font-size: 3.43vw;
                    line-height: 22.5px;
                    margin-top: 0px; // background: blue ;
                    text-align: left !important;
                    // font-family: $Montserrat-Medium !important;
                    // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-SemiBold !important;
                    color: rgb(174, 174, 174);
                }
            }

            .serPriceCol {
                position: relative;
                width: 100%; // height: 100%;
                background: rgb(255, 255, 255); //
                // background: green;
                margin-bottom: 1px;
                position: relative;

                .serviceCost {
                    width: 100%;
                    background: rgb(255, 255, 255);
                    color: rgb(27, 27, 27);
                    margin-top: 0pt !important;
                    font-size: 3.7vw;
                    line-height: 22.5pt;
                    // font-family: $Montserrat-Regular; //  font-family: $Montserrat-Medium !important; // line-height: 15pt;
                    font-family: $montserrat-light !important;
                    text-align: right;
                    padding-right: 0vw !important;

                    // padding-top: 3vw !important;
                    padding-bottom: 3vw !important;

                    // position: relative;
                    // top: 50%;
                    // transform: translateY(-50%);

                                        // background: purple !important;

                }
                .serviceCostStrikeThrough{
                  // color: red !important;
                  padding-top: 2vw !important;
                  color: rgb(222, 32, 90) !important;
                  text-decoration: line-through;
                  text-align: right;
                // background: green;
                }
            }

            .approx-time {
                // background: darkorange;
                font-size: 3.43vw; // background: red;
                height: 35%;
                line-height: 13px;
                margin-bottom: 0px !important;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(80, 80, 80);
            }

            // }
            .note {
                color: #000;
                font-size: 4.63vw;
                font-family: $Montserrat-SemiBold !important;
            }
        }
    }

    .content-ios {
        color: white;
    }

    .title {
        z-index: 999;
        margin-top: 10px;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
    }

    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        margin-top: -50px;
    }

    .headerLabel {
        position: absolute;
        bottom: 16.5px;
        left: 13.5px;
        text-align: center;
        font-size: 30px;
        font-family: $Montserrat-SemiBold !important;
        color: white;
    }

    .backButton {
        position: absolute;
        bottom: 50px;
        text-align: center;
        font-size: 30px;
        color: white;
    }

    .backIcon {
        width: 40px;
        margin-top: 30px;
        background: transparent;
        height: 40px;
        color: white;
        padding: 0px;
        opacity: 1;
    }

    .backIcon:active {
        background-color: transparent;
    }

    .backIcon:focus {
        background-color: transparent;
    }

    .appoDetailsView {
        background: white;
        margin-left: 14px;
        margin-top: 17px;
        margin-right: 14px;
        border-radius: 5px;
        border: 0.5px solid rgb(225, 225, 225);
    }

    .reviewLabel {
        width: 100%;
        color: black;
        text-align: left;
        line-height: 50px;
        padding-left: 10px;
        margin: 0px;
        border: 0.5px solid rgb(225, 225, 225);
        height: 50px;
        font-size: 6.08vw;
        font-family: $Montserrat-SemiBold !important;
    }

    .techDetailsView {
        height: 100px;
        border: 0.5px solid rgb(225, 225, 225);
        width: 100%;
    }

    .imgTech {
        height: 54px !important;
        width: 54px !important;
        position: relative;
        top: 23px;
        left: 12px;
        border-radius: 27px;
    }

    .salName {
        position: relative;
        left: 75px;
        top: -40px;
        font-size: 6.34vw;
        width: 78%;
        line-height: 24px;
        font-family: $Montserrat-SemiBold !important;
        color: black; // background: deeppink;
    }

    .techName {
        position: relative;
        left: 75px;
        top: -50px;
        font-size: 3.97vw;
        color: rgba($color: #000000, $alpha: 0.7);
        font-family: $Montserrat-Medium !important;
    }

    .bookingDateTimeView {
        height: 85px;
        border: 0.5px solid rgb(225, 225, 225);
    }

    .bookingDate {
        color: black;
        width: 50%;
        margin-top: 19px;
        font-size: 3.97vw;
        font-family: $Montserrat-SemiBold !important;
        padding-left: 10px;
        float: left;
    }

    .bookingTime {
        color: black;
        padding-left: 10px;
        width: 50%;
        font-size: 3.97vw;
        font-family: $Montserrat-SemiBold !important;
        float: right;
        margin-top: -30px;
    }

    .lblBookingDate {
        color: rgb(154, 154, 160);
        width: 50%;
        margin-top: 0px;
        font-size: 3.97vw;
        font-family: $Montserrat-SemiBold !important;
        padding-left: 10px;
        float: left;
    }

    .lblBookingTime {
        color: rgb(154, 154, 160);
        padding-left: 10px;
        width: 50%;
        font-size: 3.97vw;
        font-family: $Montserrat-SemiBold !important;
        float: right;
        margin-top: -30px;
    }

    .servicesList {
        // height: 160px;
        margin-top: 20px; // background: red;
    }

    .bullet {
        color: rgb(154, 154, 160);
        font-size: 5.82vw;
        padding: 0px !important;
        text-align: center;
    }

    .serName {
        height: 25px !important;
        line-height: 29px;
        font-size: 3.7vw;
        margin-left: 5px !important;
        width: 100%;
        font-weight: 600;
        color: rgb(154, 154, 160);
    }

    .SubStyleAtTopPostion {
        width: 100%;
        height: 45px;
        border-top: 1px solid rgba($color: #000000, $alpha: 0.3);
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
        margin-bottom: 0px;

        img.imgSubStyle {
            width: 35px;
            height: 35px;
            border-radius: 5px;
            float: left; // margin-top: 0px;
            margin-left: 5px;
            background: red;
        }

        .lblSubStyleName {
            // background: red;
            // line-height: 40px;
            line-height: 50px;
            width: 4px;
            height: 100%; // margin-right: 20px;
            margin-top: 0px;
            box-shadow: none;
            border: none;
            font-size: 3.97vw;
            color: rgb(154, 154, 160);
            font-family: $Montserrat-Medium !important;
        }

        .note {
            color: #000;
            font-size: 4.63vw;
            font-family: $Montserrat-SemiBold !important;
        }
    }

    .appoFee {
        color: black;
        width: 50%;
        margin-top: 18px !important;
        font-size: 3.97vw;
        font-family: $Montserrat-SemiBold !important;
        padding-left: 20px;
        float: left;
    }

    .totalAmount {
        color: black;
        width: 50%;
        text-align: right;
        padding-right: 20px;
        font-size: 3.97vw;
        font-family: $Montserrat-SemiBold !important;
        float: right;
        margin-top: -30px;
    }

    .toBePaidNow {
        color: rgb(154, 154, 160);
        width: 50%;
        margin-top: -8px;
        font-size: 2.65vw;
        font-family: $Montserrat-Medium !important;
        padding-left: 20px;
        float: left;
    }

    .toBePaidSalon {
        color: rgb(154, 154, 160);
        width: 50%;
        text-align: right;
        padding-right: 20px;
        font-size: 2.65vw;
        font-family: $Montserrat-Medium !important;
        float: right;
        margin-top: -24px;
    }

    .adView {
        margin-top: 30px;
        height: 195px;
        background: white;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 60px !important;
    }

    .skipAppointmentLabel {
        color: black;
        width: 100%;
        padding-top: 35px;
        text-align: center;
        font-size: 6.34vw;
        font-family: $Montserrat-SemiBold !important;
    }

    .watchingAdLabel {
        color: black;
        font-size: 3.43vw;
        width: 100%;
        margin-top: -5px !important;
        text-align: center;
        font-family: $Montserrat-Medium !important;
    }

    .watchAdButton {
        // margin-left: 34px !important;
        // margin-right: 34px !important;
        margin-top: 17px; // display: inline-flex;
        font-size: 5.29vw;
        color: white;
        font-family: $Montserrat-SemiBold !important;
        height: 48px;
        width: 270px;
        background-color: $Beautyapp-gradient-color;
    }

    .watchAdButton:focus {
        background-color: $Beautyapp-gradient-color;
    }

    .watchAdButton:active {
        background-color: $Beautyapp-gradient-color;
    }

    .btnConfirmBooking {
        width: 100%;
        text-align: center;
        height: 45px;
        align-content: center;
        color: white;
        font-size: 4.5vw;
        font-family: $Montserrat-SemiBold !important;
        background-color: $Beautyapp-gradient-color;

        // position: absolute;
        // margin-top: 7px;
        margin: 0px !important;
        bottom: 0px !important; // font-family: SF-Pro-Display-Regular;
    }

    .btnConfirmBooking:focus {
        background-color: $Beautyapp-gradient-color;
    }

    .btnConfirmBooking:active {
        background-color: $Beautyapp-gradient-color;
    }

    .service-separator {
        // width: 90% !important;
        // margin: 0 5% !important;
        // background: $MyDoc-Shadded-color !important;
        // height: 0.5vw !important;
        // position: relative;
        // bottom: 0 !important;

        width: 100%; //calc(100% - 6vw) !important;
        height: 0.35vw !important;

        background: $MyDoc-Shadded-color !important;
        // background:  rgb(227, 63, 73) !important;
        // background:  $Beautyapp-gradient-color !important;
        margin: 1vw 0 !important;
        position: relative;
        // left: 3vw;
    }

    .salonCard {
        width: 100%; //calc(100% - 8vw);
        background: white !important;
        box-shadow: none;

        margin: 3.7vw 0vw 0vw 0vw !important;

        .right-arrow {
            width: 2.116vw !important;
            height: 4.23vw !important;
            position: absolute;
            z-index: 99999999;
            margin-top: 7vw;
            margin-right: 3.5vw;
            right: 3.64vw;
        }

        .imgFavoriteSalon {
            position: absolute;
            z-index: 99999999;
            width: 7.93vw;
            height: 7.93vw;
            margin-top: 1.5vw;
            margin-right: 0.5vw;
            right: 3.64vw;
        }

        .doctor-info-row {
            min-height: 22vw;

        }

        .col-img-doctor {
            &:first-of-type {
                flex: 0 0 25%;
            }
        }

        .salBackImage {
            width: 17vw;
            height: 16vw;

            position: relative;
            z-index: 0;

            border-radius: 50%;
            position: relative;
            top: 4.2vw;
            left: 4.5vw;

            // background: green;
        }

        .is-available-now {
            margin-left: 3vw !important;
            color: rgb(89, 185, 75);
            font-size: 2.9vw;
            text-align: left;
            font-family: $GothamRounded-Book !important;
            background: transparent;
            position: relative;
            top: 4.2vw;
        }

        .col-right-sal-info {
            // background: green !important;
            // margin-top: 100vw;
            // position:absoulte;
            // top: 0 !important;
            position: relative;
            top: 50%;
            transform: translateY(-40%);
        }

        .salonName {

            margin-left: 1vw !important;
            // margin-top: 2vw;
            width: calc(100% - 3vw);

            // color: rgb(67, 67, 67);
            color: rgb(35, 31, 32);
            font-size: 3.9vw;
            text-align: left;
            font-family: $Montserrat-Bold;
            // $Montserrat-Bold
            background: transparent;
            position: relative;

            position: relative;
            // background: dodgerblue;

        }

        .lbl-sal-speciality {

            font-family: $Montserrat-Bold;
            font-size: 3.2vw;
            color: rgb(35, 31, 32);
            background:white !important;
            // color: rgb(174, 174, 174) !important;
            // font-family: $Montserrat-Medium !important;
        }

        .lbl-sal-address {
            font-size: 3.3vw;
            font-family: $Montserrat-Medium !important;
            margin-top: 1.2vw !important;
        }

        .SalonAddress {
            margin-top: 5.3pt;
            width: calc(100% - 13.3pt);
            margin-left: 9.7pt !important;
            margin-right: 4pt !important; //
            margin-bottom: 4pt;
            position: relative;

            .lblAddress {
                font-size: 3.7vw;
                width: 100%;
                line-height: 13.5pt;
                color: rgb(150, 150, 150);
                font-family: 'montserrat-light';
                float: left;
                margin-top: 0px;
            }

            .PinImageWithDistance {
                // width: 100%; //calc(100% - calc(100% - 88pt));
                width: calc(100% - 9pt); // height: 15pt; // margin-right: 0pt;
                // margin-left: 0pt !important;
                height: auto;
                overflow: hidden;
                padding: 0pt;
                margin: 0pt;
                float: right;
                font-family: 'Montserrat-Medium'; //

                // background: deepskyblue;
                .pinImage {
                    width: 6pt; // height: 9pt;
                    height: calc(100% - 2pt);
                    float: left; // position: relative;
                    // right: 0pt !important;
                    margin-right: 0pt !important; //
                    margin-left: 8pt;
                    margin-top: 3.5pt; // background: red;
                }

                .pinDistance {
                    height: calc(100% - 2pt);

                    float: none;
                    width: auto;
                    overflow: hidden;
                    font-size: 3.17vw;
                    font-family: 'Montserrat-Regular';
                    letter-spacing: 0.4;

                    margin: 1pt 0pt 1pt 0pt !important;
                    color: rgb(255, 95, 109);
                    text-align: left;
                    text-align: center;
                }
            }

        }

        .degree-row {
            // background: gold !important;
            padding-top: 2px;
            // degree-row
            margin-bottom: 1.3vw !important;
            .col-degree-number {
                background: white;

                &:first-of-type {
                    flex: 0 0 13%;
                }
            }

            .img-degree {
                width: 7vw;
                height: 7vw;

                position: relative;
                z-index: 0;
                border-radius: 50%;
                position: relative;
                top: 50%;
                left: 1vw !important;
                transform: translateY(-50%);

            }

            .lbl-degree {

                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-family: $Montserrat-SemiBold !important;
                font-size: 3.2vw;
                color: rgb(77, 77, 77);
                background:white;
                margin-left: 1.5vw;
                // margin-top: 0.5vw !important;
                margin-bottom: 1.5vw !important;

            }

        }

        .address-row {
            background: white;

            .lblBoldText {

                margin-left: 1.5vw !important;
                font-size: 4.23vw;
                color: rgb(38, 38, 38);
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                font-family: $Montserrat-SemiBold !important;
                color: rgb(35, 31, 32);
                font-size: 3.9vw;
                text-align: left;
                font-family: $Montserrat-Bold;
                background: white !important;
                margin-right: 1vw !important;

                .addresslbl {
                    text-align: right;
                    margin-top: 10px;
                    font-family: $Montserrat-Bold;
                    font-size: 3.2vw;
                    color: rgb(35, 31, 32);

                }

                .lblDimText {
                    text-align: right;
                    letter-spacing: 0.3px;
                    //  color: rgb(38, 38, 38);
                    color: rgb(35, 31, 32);
                    font-size: 3.9vw;

                    font-family: $Montserrat-Bold;

                    // color: rgba(104, 104, 104, 0.9);
                    margin-top: 10px;
                    margin-bottom: 15px;
                    font-family: $Montserrat-Regular !important;

                }
            }

            // background: dodgerblue !important;
            padding-top: 2px;

            .col-degree-number {
                background: white;

                &:first-of-type {
                    flex: 0 0 13%;
                }
            }

            .img-degree {
                width: 5.5vw;
                height: 5vw;
                // background: $Beautyapp-gradient-color;
                position: relative;
                z-index: 0;
                border-radius: 50%;
                position: relative;
                top: 40%;
                left: 70% !important;
                transform: translate(-50%, -50%);
                // background:chocolate;
            }
        }

        .salon-biography-title {
            width: calc(100% - 6vw) !important;
            margin: 0vw 3vw !important;
            font-size: 4.23vw;
            color: rgb(38, 38, 38);
            position: relative;
            font-family: $Montserrat-SemiBold !important;
            padding: 0vw 2.5vw !important;
            background: purple !important;

        }

        .lbl-about-doctor {
            width: calc(100% - 6vw) !important;
            margin: 0vw 3vw !important;
            font-family: $Montserrat-Medium;

            font-size: 3.9vw;
            color: rgb(35, 31, 32);

            padding: 1.5vw 0vw !important;

            // background: deeppink;
        }

        .salon-biography {
            text-align: right;
            margin-top: 10px;
            font-family: $montserrat-light !important;
            font-size: 3.7vw;
            color: rgb(77, 77, 77);

        }

    }

    .salonSeparator {
        width: calc(100% - 9vw) !important;
        height: 0.4vw !important;
        background: rgba(226, 226, 226, 0.5);
        margin: 1vw 0 !important;
        position: relative;
        left: 4.5vw;

    }

    .salonSeparator2 {
        width: calc(100% - 9vw) !important;
        height: 0.4vw !important;
        background: rgba(226, 226, 226, 0.5);
        // margin: 1vw 0vw 0vw 0vw !important;
        position: relative;
        left: 4.5vw;

    }

    .PhoneContainer {

        min-height: 6.73vw !important;

        // background: deeppink;
        a div {
            font-size: 3.3vw;
            position: relative;
            padding-top: 1%;
            margin-left: 1.5vw !important;

        }
    }

}
