<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Select City</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div>
  </div>

  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>

</ion-header>


<ion-content class="home-content" >
  <ion-list no-padding no-margin   class="salonCard" *ngFor="let city of CityInfo; let i = index"
    (click)="openDetailsPage(city, $event)">
    <ion-row class="doctor-info-row">
      <ion-col>
        <div class="col-right-sal-info">
          <ion-label text-wrap text-center class="salonName">
            {{ city }} 
          </ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-list>

 
</ion-content>
