page-profile {
    $PrimaryColor: linear-gradient(to bottom, rgb(222, 32, 90), rgb(243, 91, 138));
    .province-item {
        margin-left: 35px !important;
        margin-right: 30px !important;
        width: calc(100% - 65px) !important; // margin: 25pt 20pt;
    }
    .label-address {
        color: rgb(96, 96, 96); // color: black;
        letter-spacing: -0.04px;
        font-size: 3.7vw;
        font-family: $Montserrat-SemiBold; // background:gold;
    }
    .ionHeader {
        height: 100px;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important; // z-index: 999;
        padding-bottom: 10px; // position: relative;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }
    .profile-content {
        //background: rgb(255, 255, 255);
        //background-color:rgb(238 238 238) !important;
        background: rgb(238, 238, 238);
        margin-top: 0pt;
    }
    .card-profile {
        width: calc(100% - 32px) !important;
        background: rgb(255, 255, 255);
        padding-bottom: 10px !important;
        margin-top: 24px;
        position: relative;
        margin-bottom: 10px;
        left: 16px;
        right: 16px;
        .Profile-TopImage {
            padding-top: 15px;
            text-align: center;
            img {
                height: 82px;
                width: 82px;
                border-radius: 50%;
            }
        }
        .Profile-errorStyle {
            // position: absolute;
            // background: yellow;
            width: 100%;
            margin-top: 5px !important;
            margin-left: 23px !important; // padding: 0px !important;
            // padding-top:20px !important;
        }
        .Profile-nameTopPlaceholder {
            background: transparent !important; // margin-bottom: -8px;
            background: white !important;
            margin-left: 60px;
            margin-right: 60px;
            font-family: $montserrat-light;
            font-size: 3.7vw !important;
            color: rgb(50, 50, 50) !important;
        }
        .Profile-phoneTopPlaceholder {
            margin-top: 14px !important;
            margin-left: 60px;
            margin-right: 60px;
            font-family: $montserrat-light;
            font-size: 3.7vw !important;
            color: rgb(50, 50, 50) !important;
        }
        .Profile-emailTopPlaceholder {
            margin-top: 14px !important;
            margin-left: 60px;
            margin-right: 60px;
            font-family: $montserrat-light;
            font-size: 3.7vw !important;
            color: rgb(50, 50, 50) !important;
        }
        .Profile-addressTopPlaceholder {
            margin-top: 14px !important;
            margin-left: 60px;
            margin-right: 60px;
            font-family: $montserrat-light;
            font-size: 3.7vw !important;
            color: rgb(50, 50, 50) !important;
        }
        .Profile-Input {
            //border: 1px solid #E5E5E5;
            // border-top-radius: 25px;
            border-bottom: 1px solid rgb(238, 238, 238); //border: 1px solid rgb(238, 238, 238);
            width: calc(100% - 76px);
            margin-left: 38px; // margin-right: 38px;
            height: 37px !important;
            margin-top: 20px !important; // border-radius: 24.5px !important;
            // background: red !important;
            .topInputField {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                letter-spacing: 1.5pt;
                float: left; // margin-left: 20px;
                // width: calc(100% - 0px); 
                // background: pink;
                // border-top-right-radius: 25px;
                // border-bottom-right-radius: 25px;
                text-align: center !important;
                color: rgba(0, 0, 0, 0.54); // line-height: 15px !important;
                font-size: 3.7vw !important; // background: orchid;
                height: 25px;
                color: rgba(0, 0, 0, 0.54);
                font-family: $Montserrat-Medium; // font-family: 'SFProDisplay-Medium' !important; // background: purple;
            }
        }
    }
    .text-input-ios {
        // margin: 11px 8px 11px 0;
        padding: 0; // width: calc(100% - 8px);
    }
    .text-input-md {
        margin: 11px 8px 11px 0;
        padding: 0 !important; //  margin: 0 !important;
        width: calc(100% - 8px);
    }
    .custom_separator {
        height: 2px;
        width: 100%;
        background-color: #f5f5f5;
        line-height: 0;
    }
    .backImage {
        height: 29px !important;
        width: 52px !important;
        padding-top: 7px;
        object-fit: contain; // margin-left: -10px;
        margin-top: 25px;
        margin-left: -50px;
        z-index: 1;
    }
    .backButton:active {
        background-color: transparent;
    }
    .backButton:focus {
        background-color: transparent;
    }
    ion-icon {
        font-size: 35px;
        margin-left: 3px;
    }
    .menuButton {
        height: 35px;
        width: 55px;
        position: fixed;
        top: 0;
        display: block;
        right: 0;
        margin-top: 25px !important; // background: red;
        color: white;
        z-index: 1;
    }
    .lbl-are-you-a {
        margin: 16px 0px !important;
    }
    .GenderList {
        padding: 0px !important;
        margin: 16px !important;
        box-shadow: none;
        // float: right;
        // width: 100%;
    }
    .GenderCard {
        text-align: left;
        margin-top: 36px !important;
        box-shadow: none;
        background: green !important;
        .card-header {
            padding: 0px;
            margin-bottom: 10px; // background: rgb(70, 67, 67);
            color: rgb(60, 60, 60);
            font-size: 6.34vw;
            font-family: $Montserrat-SemiBold !important;
        }
        .MaleCheckBox {
            width: 50%;
            width: calc(50% - 32px) !important;
            height: 4vh;
            margin-left: 32px;
            float: left;
            .label {
                height: 4vh !important;
                float: left;
                line-height: 20px;
                margin-right: 2px;
                margin-top: 0px;
                font-size: 3.17vw;
                font-family: $Montserrat-SemiBold !important;
            }
        }
        .FemaleCheckBox {
            float: right;
            margin-right: 32px;
            margin-left: 0px;
            width: calc(50% - 32px) !important;
            height: 4vh;
            .label {
                float: left;
                height: 4vh !important;
                line-height: 20px;
                margin-right: 2px;
                margin-top: 0px;
                font-size: 3.17vw;
                font-family: $Montserrat-SemiBold !important;
            }
        } // .radio-ios .radio-icon {
        //     left: 0;
        //     top: 0;
        //     margin: 0;
        //     border-radius: 50%;
        //     position: relative;
        //     display: block;
        //     width: 16px;
        //     height: 16px;
        //     border-width: 2px;
        //     border-style: solid;
        //     border-color: #787878;
        // }
        // .radio-ios .radio-checked {
        //     border-color: #488aff;
        // }
        // .radio-ios .radio-inner {
        //     left: 4.5px !important;
        //     top: 2px !important;
        //     position: absolute;
        //     width: 3px;
        //     height: 8px;
        //     border-width: 2px;
        //     border-top-width: 0;
        //     border-left-width: 0;
        //     border-style: solid;
        //     border-color: rgb(222, 32, 90);
        //     -webkit-transform: rotate(45deg);
        //     transform: rotate(45deg); // ...zahid
        //     // border-radius: 50%;
        //     // width: 8px;
        //     // height: 8px;
        //     // // background-color: red !important;
        //     // -webkit-transform: scale3d(0, 0, 0);
        //     // transform: scale3d(0, 0, 0);
        //     // -webkit-transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
        //     // transition: -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
        //     // transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
        //     // transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
        // }
    }
    .highlightText {
        // background: yellow;
        color: black;
        font-size: 4.76vw;
        font-weight: bold;
        line-height: 23px;
        font-family: $Montserrat-Medium !important;
    }
    .mainCard {
        width: calc(100% - 32px) !important; // height: 50px;
        margin-left: 16px;
        margin-right: 16px;
        background: white;
        box-shadow: none;
        position: absolute;
        bottom: 0px;
        z-index: 9999999999999;
        max-height: 175px;
        background: deepskyblue;
        ion-card-content {
            margin-top: 1pt; //
            margin-bottom: 0pt;
            box-shadow: none; // 
            background: red !important;
            padding: 0px 0px 0px 0px !important;
            img {
                width: 35px;
                height: 35px;
                padding: 10px;
                border-radius: 50%;
                border: 1px solid rgba(192, 192, 192, 0.5); // width: 97.5px;
                float: left; //  
                margin: 2pt;
            }
            .lblTagName {
                width: 100% !important;
                color: grey;
                font-family: $Montserrat-Medium !important;
                font-size: 4.76vw;
                letter-spacing: 1px; // background: green;
                position: relative;
                top: 25%;
                transform: translateY(-25%);
            }
        }
        .searching {
            width: 100%;
            .topInputField {
                color: white;
                line-height: 24px;
                font-size: 5.29vw;
                font-family: $montserrat-light !important; // 
                padding-left: 5px;
            }
            .divInput {
                width: 100%;
                background: green;
            }
        }
    }
    // * {
    //     font-family: $Montserrat-Regular !important;
    // }
}

.btnUpdateProfile {
    // margin-top: 3px !important;
    margin-bottom: 4vw !important;
    width: 55vw;
    height: 12vw;
    color: white;
    font-size: 3.7vw;
    font-family: $Montserrat-Regular;
    border-radius: 18.5px;
    background: $Beautyapp-gradient-color;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    // background  : green;
}

.ToastClass {
    text-align: center;
}

.toast-container {
    background-color: red;
}