<ion-header class="ionHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Book Appointment</ion-label>
    </ion-col>
  </ion-row>
  <div></div>
</ion-header>
<ion-content padding style="background:white">

  <salon-card *ngIf="salonCardOption" [salonCardOptions]="salonCardOption"></salon-card>

  <div *ngIf="selectedSalon && selectedSalon.sal_register_as < '2' && allTechs && allTechs.length > 0 "
    class="chooseTechLabel">Select location</div>
  <div *ngIf="selectedSalon && selectedSalon.sal_register_as >  '1' && allTechs && allTechs.length > 0 "
    class="chooseTechLabel">Choose your doctor</div>

  <div *ngIf="!appointment" class="TechnicianListing">
    <ion-row class="technicianRowBase" *ngFor="let tech of allTechs; let i = index" (click)="OnTechSecltion(tech, i)" [hidden]="tech.tech_status === '0'"
      [ngClass]="tech.isSelected ? 'techSelected' : 'techUnselected'">

      <ion-col class="leftContainer">
        <img *ngIf="selectedSalon && selectedSalon.sal_register_as >  '1'" [src]="baseUrl + tech.tech_pic"
          class="techImage" onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'" />
        <img *ngIf="selectedSalon && selectedSalon.sal_register_as < '2'" [src]="baseUrl + tech.tech_pic"
          class="techImage" onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder1.png'" />


      </ion-col>


      <ion-col class="rightContainer">

        <div class="lbl-tech-name"> {{ tech.tech_name }} </div>

        <ion-label text-wrap class="lbl-tech-speciality lbl-bold-text"> {{ tech.tech_specialty }}
        </ion-label>
        <ion-label *ngIf="tech.tech_degree && tech.tech_degree.length> 0" text-wrap class="lbl-tech-speciality ">
          {{ tech.tech_degree }} </ion-label>

        <ion-row [hidden]="item.tech_hours === 'Off' " class="tech-timing-card" *ngFor="let item of tech.tech_Hours">
          <ion-col col-5>
            <span text-wrap class="lbl-day-name">{{item.tech_day}}</span>
          </ion-col>

          <ion-col>
            <span class="lbl-day-timing">{{item.tech_hours}}</span>
          </ion-col>



        </ion-row>

        <ion-label class="lbl-tech-speciality"> Consultancy fee

          <span item-right class="lbl-day-timing"> {{currencySymbol}} {{ roundAmount(tech.tech_fee) }}</span>
        </ion-label>

      </ion-col>
    </ion-row>
  </div>
</ion-content>
<!-- main Content -->
<ion-footer>
  <div class="btnNext" (click)="btnNextTappe()">Next</div>
</ion-footer>