<ion-header id="productsIonHeaderID" [ngClass]="
    slideOutNow === true
      ? 'ionHeader slide-Header-out'
      : 'ionHeader slide-Header-In' ">
  <ion-row class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 class="colHheaderLabel">
      <ion-label text-wrap class="upperHeading">{{pageTitle}}</ion-label>
    </ion-col>
    <ion-col col-2 class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <div></div>
  <div class="searchSection">
    <div class="searchInput">
      <ion-input [(ngModel)]="txtSearchSalon" (focusin)="shouldBeginEditing($event.target)"
        (focusout)="endEndEditing($event.target)" class="searchInputField"
        (keyup)="shouldChangeCharacter($event.target.value)" (keyup.enter)="handleReturnkey()"
        placeholder="Search {{ sectionName }}"></ion-input>
    </div>
    <div class="searchButton" *ngIf="txtSearchSalon.length > 0" (click)="searchOverInternet()">
      <!-- <img item-right class="btnClose" src="./assets/imgs/close.png" /> -->
      <div class="serachlbl">
        {{ serverSearchlbl }}
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!-- <ion-label no-padding no-margin class="lblSeparator12"></ion-label> -->
  <div hidden class="divInput">
    <img class="searchIcon" src="./assets/imgs/search_icon_new.png" />
    <ion-input clearInput [(ngModel)]="txtSearchSalon" (focusin)="shouldBeginEditing($event.target)"
      (focusout)="endEndEditing($event.target)" class="topInputField" (keyup)="shouldChangeCharacter($event.target)"
      (keyup.enter)="handleReturnkey()" placeholder="Search {{ sectionName }}"></ion-input>
  </div>
  <ion-scroll #scroll scrollY="true" class="SalonServicesSearchListingScroll" *ngIf="showTagsPopOver">
    <ion-card class="SalonServicesSearchCard">
      <ion-card-content *ngFor="let tag of filteredTags; let i = index" (click)="btnStyleTapped(tag, i)">
        <label position="fixed" text-capitalize class="lblSalonOrServiceName" md-highlight-text="txtSearchStyles"
          [innerHTML]="highlight(tag.keyword)">{{ tag.keyword }}</label>
      </ion-card-content>
    </ion-card>
  </ion-scroll>
</ion-header>
<ion-content class="home-content" (ionScroll)="scrollHandler($event)">
  <ion-list no-padding no-margin [hidden]="isServerSearching" class="salonCard"
    *ngFor="let salon of allSalon; let i = index" (click)="openDetailsPage(salon, $event)">
    <ion-row class="doctor-info-row">
      <ion-col class="col-img-doctor">
        <img class="salBackImage" *ngIf="salon.tech_id < '1' " [src]="salonImagesURL + salon.sal_pic"
          onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'" />
        <img class="salBackImage" *ngIf="salon.tech_id > '1'" [src]="techImagesURL + salon.sal_pic"
          onError="this.src='http://mydr.qwpcorp.com/apis_pk/technicians/placeholder.png'" />
      </ion-col>
      <ion-col>
        <div class="col-right-sal-info">
          <ion-label text-wrap text-left class="salonName">
            {{ salon.sal_name }}
          </ion-label>
          <ion-label text-wrap text-left *ngIf="salon.sal_specialty.length > 0" class="salonName lbl-sal-speciality">
            ({{ salon.sal_specialty }})
          </ion-label>
          <ion-label text-wrap text-left class="salonName lbl-sal-address">
            {{ salon.sal_address }}
          </ion-label>
          <!-- <div class="PhoneContainer" (click)="onClickeventStopPropagation($event)">
            <a style="color:rgb(0, 144, 206);text-decoration:none;" href="tel:{{salon.sal_phone}}">
              <div class="phone-num">Ph. {{salon.sal_phone}}</div>
            </a>
          </div> -->
        </div>
        <ion-card hidden class="ratingCard">
          <ion-label no-padding no-padding *ngIf="salon.sal_rating > '0'" text-wrap class="ratingValue">
            {{ roundRatingUpToOneDecimal(salon.sal_rating) }}
          </ion-label>
          <rating no-padding no-padding [(ngModel)]="salon.sal_rating" readOnly="true" max="5"
            [ngClass]="salon.sal_rating == '0' ? 'withNoRating' : 'withRating'" emptyStarIconName="star-outline"
            halfStarIconName="star-half" starIconName="star" nullable="false" (ngModelChange)="onModelChange($event)">
          </rating>
          <ion-label no-padding no-padding *ngIf="salon.sal_rating == '0'" class="notEnoughRating">
            Not Enough Ratings
          </ion-label>
        </ion-card>
      </ion-col>
      <ion-col col-1> </ion-col>
      <img hidden *ngIf="salon.fav_id !== 0" class="imgFavoriteSalon" src="./assets/imgs/heart_filled.png"
        (click)="makeSalonFavoriteTapped(salon, i)" />
      <img hidden *ngIf="salon.fav_id === 0" class="imgFavoriteSalon" src="./assets/imgs/heart_empty.png"
        (click)="makeSalonFavoriteTapped(salon, i)" />
      <img class="right-arrow" src="./assets/imgs/back-ionc-home.png" (click)="makeSalonFavoriteTapped(salon, i)" />
    </ion-row>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMoreSalons($event)" distance="1%" loaddingSpinner="bubble">
    <ion-infinite-scroll-content ng-if="hasMoreData"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>