
<ion-header class="ionDefaultHeader">

  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow" (click)="btnBackTapped()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Customer Review</ion-label>
    </ion-col>
    <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
    
  </ion-row>

</ion-header>

<ion-content no-padding>
  <div class="topLabel">
      Please let doctor or clinic know how did they do on your last visit. 
  </div>

  <rating
      class="rating" [(ngModel)]="selectedRating" 
            readOnly="false" 
            max="5" 
            (ngModelChange)="onModelChange($event)"
            emptyStarIconName="star-outline" 
            halfStarIconName="star-half" 
            starIconName="star" 
            value=selectedRating
            nullable="false" ></rating>

  <ion-textarea (ionChange)="onInput($event.value)" rows="5" maxLength="500" class="textArea" placeholder="Your comments...">
  </ion-textarea>
  <div class="disclaimerAndWordCount">
    <span class="disclaimer">Please note {{myAppName}} may remove comments if found inappropriate.
    </span>
    <span class="wordCount">{{wordCount}}</span>
</div>
<button class="submit" (click)="submitTapped()">Submit</button>
</ion-content>
