calendar {
    .lblSelectedMonth {
        // background: green;
        font-size: 17.5pt;
        text-align: center;
        letter-spacing: 0.3px;
        color: $MyDoc-Shadded-color;
        font-family: 'Montserrat-Medium';
        padding-top: 5pt !important;
        .lblSelectedYear {
            width: 100%;
            font-size: 15.5pt;
            font-size: 14pt;
            line-height: 22pt;
            color: rgb(203, 203, 203);
            font-family: 'Montserrat-Medium'; 
        }
    }
    .MainRowCotainer {
        height: 50pt;
        width: 100%;
        padding: 0pt;
        margin: 0pt;
        .leftArrowCol {
            // background: red;
            padding: 0pt;
            margin: 0pt;
            img {
                width: 6pt;
                height: 11pt;
                margin-left: 5.7pt;
                position: absolute;
                top: 80%;
                transform: translateY(-80%);
            }
        }
        .rightArrowCol {
            // background: blue;
            padding: 0pt;
            margin: 0pt;
            img {
                width: 6pt;
                height: 11pt;
                margin-left: 6.7pt;
                position: absolute;
                top: 80%;
                transform: translateY(-80%);
            }
        }
        .CalendarColumn {
            // background: green;
            padding: 0pt;
            margin: 0pt;
            .calendarScrollView {
                margin-left: 0px !important;
                margin-right: 0px !important;
                height: 100%;
                margin-top: 0px;
                .CalendarSubRow {}
            }
        }
    }
    .selectedDateContainer {
        height: 15px !important;
        width: 8px; // background: deepskyblue;
    }
    .btnSwipeBack {
        width: 6pt;
        height: 11pt;
        margin-left: 3.7pt;
        position: absolute;
        top: 80%;
        transform: translateY(-80%);
    }
    .dateColumn {
        margin-left: 0.5pt;
        margin-right: 0.5pt;
        padding: 0pt;
    }
    .selectedDay {
        font-size: 11pt;
        padding: 0pt;
        margin: 0pt;
        text-align: center;
        margin-left: 0pt !important;
        margin-right: 0pt !important;
        margin-top: 3.5pt;
        width: 100% !important;
        font-family: 'Montserrat-Medium';
    }
    .selectedDate {
        position: absolute;
        top: 35px;
        font-size: 70px;
        font-family: 'SanFranciscoDisplay_Semibold' !important;
        width: 87px;
        text-align: center
    }
    .selectedMonthAndYear {
        font-size: 11px;
        font-family: 'SanFranciscoDisplay_Medium' !important;
        position: absolute;
        bottom: 25px;
        width: 87px;
        text-align: center
    }
    .dateCircle {
        text-align: center;
        margin-top: 8.7pt;
        font-size: 12pt;
        font-family: 'Montserrat-Medium';
        margin-bottom: 2pt !important;
        line-height: 19.5pt !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    .promotionDateCircle {
        text-align: center;
        margin-top: 8.7pt;
        font-size: 12pt;
        font-family: 'Montserrat-Medium';
        margin-bottom: 2pt !important;
        line-height: 19.5pt !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        color: white;
    }
}