
<ion-header class="ionDefaultHeader">
    <ion-row no-padding no-margin class="headerRow">
      <ion-col col-2 class="colBackArrow" >
        <img  hidden class="backIcon" src="./assets/imgs/back.png" />
      </ion-col>
      <ion-col col-8 no-padding no-margin class="colHheaderLabel">
        <ion-label class="upperHeading"> Booking Completed </ion-label>
      </ion-col>
      <ion-col col-2 no-padding no-margin class="colMenu" menuToggle>
        <img hidden class="menuIcon" src="./assets/imgs/menu.png" />
      </ion-col>
    </ion-row>
    <div></div>
    <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
  </ion-header>

<ion-content padding>
  <ion-label class="thankYou">
    Thank You
  </ion-label>
  <div class="acknowledgement">
    Your appointment request has been sent to {{salonName}}.
    You will be notified when your appointment is accepted/rejected.
  </div>

  <div hidden class="suggestions">
    Any suggestion for the {{myAppName}} improvements?
  </div>
  <ion-textarea hidden rows="5" maxLength="500" class="textArea"
    placeholder="We will love to have your feedback. We may send you some shopping vouchers if you love the {{myAppName}} as much as we do. Thanks for your help!">
  </ion-textarea>

</ion-content>
<ion-footer>
  <div class="btnNext" (click)="goToAppointments()">Go to Appointments</div>
</ion-footer>