page-thanks-vc {

    .upperHeading {
        // height: 30px;
        color: #ffffff;
        font-family: $Montserrat-Bold !important;
        font-size: 5.40vw;
        width: 100%;
        margin-top: 14px !important;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .header-design{
        background-image: linear-gradient(to right, #ec4e89 0%, #ef404c 100%) !important;
    }
    .headerLabel{
        position: absolute;
        // bottom:16.5px;
        line-height: 116px;
        // left:13.5px;
        width:100%;
        text-align:center;
        font-size:30px;
        font-family: $Montserrat-SemiBold !important;
        color:white
    }

    .backIcon{
        width: 40px;
        margin-top: 30px;
        background: transparent;
        height: 40px;
        padding: 0px;
        opacity: 1.0;
    }

    .backIcon:active{
        background-color: transparent;
    }

    .backIcon:focus{
        background-color: transparent;
    }

    .thankYou{
        font-size: 30px;
        font-family: $Montserrat-Medium !important;
        width:100%;
        text-align: center;
    }

    .acknowledgement{
        font-size: 4.23vw;
        font-family: $Montserrat-Medium !important;
        margin-top: 20px;
        text-align: center
    }

    .suggestions{
        font-size: 5.29vw;
        font-family: $Montserrat-Medium !important;
        text-align: center;
        margin-top: 30px;
    }

    .textArea{
        background: rgba(170, 170, 170, 0.3);
        height:120px;
        padding: 5px;
        border: 1px solid rgb(225, 225, 225);
        border-radius: 5px;
        margin-top: 20px;
        width: 100%;
        font-size: 4.23vw;
        font-family: $Montserrat-Medium !important;
    }

    .btnNext{
        width: 100%;
        text-align: center;
        line-height: 50px;
        height: 50px;
        align-content: center;
        background: $Beautyapp-gradient-color;;
        color: white;
        font-size: 5.29vw;
        font-family: $Montserrat-SemiBold !important;
        position: absolute;
        margin: 0px;
        bottom:0px !important;
    }
   
    .btnNext:focus{
        background-color: $Beautyapp-gradient-color;
    }

    .btnNext:active{
        background-color: $Beautyapp-gradient-color;
    }
}
