<ion-header class="ionDefaultHeader">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-3 class="colBackArrow" (click)="goBack()">
      <img class="backIcon" src="./assets/imgs/back.png" />
    </ion-col>
    <ion-col col-6 no-padding no-margin class="colHheaderLabel">
      <ion-label class="upperHeading">Notifications</ion-label>
    </ion-col>
    <ion-col col-3 no-padding no-margin class="colMenu">
      <img class="menuIcon" src="./assets/imgs/menu.png" menuToggle />
      <img hidden (click)="refreshPage()" src="./assets/imgs/reload.png" class="reloadLablel" />
    </ion-col>
  </ion-row>
  <div></div>
  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>

<ion-content>
  <div *ngIf="publicUser">
    <div class="alreadyRegister">
      <p class="lblAlreadyRegister">
        login or sign up to view notifications<span class="lblLogin"
          (click)="goToRegisterScreen()"><br />Register</span>
      </p>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="getNotifications($event, false)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="Fetching Notifications ...">
    </ion-refresher-content>
  </ion-refresher>

  <div class="notification_list_temp"></div>
  <ion-list [reorder]="reorderIsEnabled" (ionItemReorder)="itemReordered($event)" no-lines
    style="padding: 0px;	margin:0px; " class="notification_list" *ngFor="
      let notification of allNotifications;
      let i = index;
      let lastIndex = last
    ">
    <ion-item *ngIf="
        (i != 0 &&
          isDateChanged(
            allNotifications[i - 1].not_datetime,
            notification.not_datetime
          )) ||
        i == 0
      " style="	padding-top: 0px;
padding-right: 0px;
padding-bottom: 0px;
padding-left: 0px; margin:0px; background-color: #ffffff;" class="notification_list">
      <p *ngIf="i != 0" style="padding: 0px; height:10px; background-color: #F5F5F5;; margin-left:0px;"></p>
      <div>
        <p class="list-header" style="padding-top: 5px;
           padding-right: 10px;
           padding-bottom: 0px;
           padding-left: 10px; margin:0px;">
          {{ getDateFormated(notification.not_datetime) }}
        </p>
      </div>
      <div class="header_border"></div>
    </ion-item>
    <ion-item-sliding no-lines>
      <ion-item text-wrap class="notification_list" style="	padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      padding-left: 0px; margin:0px; " class="notification_list">
        <ion-item no-lines style=" padding-right: 0px; margin:0px;" class="notification_list">
          <ion-avatar item-left>
            <img style="height:72px; width:72px;" [src]="baseUrl + notification.sal_pic" />
          </ion-avatar>

          <p class="sal_name_lbl">{{ notification.sal_name }}</p>
          <p class="not_lbl">{{ notification.not_message }}</p>
          <p class="not_time">
            {{ getTime(notification.not_datetime) }}
          </p>
        </ion-item>

        <div class="header_border" *ngIf="
            !lastIndex &&
            isDateSame(
              allNotifications[i + 1].not_datetime,
              notification.not_datetime
            )
          "></div>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button clear color="danger" (click)="deleteNotif(i, notification)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <div class="lblNoData" *ngIf="!allNotifications || (allNotifications.length === 0 && !publicUser)">
    <img class="imgNothingFound" src="./assets/imgs/nothingFound.png" />
    <ion-label class="lblNothingFound">No new notification</ion-label>
  </div>
</ion-content>