page-main-home {
    .fabButton {
        background: transparent !important;

        .fab {
            // background: blue !important;
            background: rgb(255, 111, 21);
            width: 40px;
            height: 40px;

            // margin-top: 25px;
            // border: solid 2px white;
            .fab-close-icon {
                background: green !important;
            }
        }
    }

    .customSplash {
        margin-top: 30px !important;
    }

    .strip_design_wrapper {
        // border-bottom: 1px solid #a0a0a0 !important;
        padding-bottom: 10px !important;
        // animation: mover 1s infinite alternate;
    }

    .strip_design {
        color: rgb(191, 69, 101);
        font-size: 3.76vw;
        padding: 10px 10px 0px 10px !important; // margin-bottom: -10px !important;
        font-family: $Montserrat-Regular !important;
        position: relative;
        text-align: center;
        animation: mover 1s infinite alternate;
    }

    @-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    @keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    .ionHeader {
        height: 24.1vw;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        padding-bottom: 2.64vw;
        background: $Beautyapp-gradient-color;

        .headerRow {
            height: calc(100% - 4pt);

            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;

                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 5vw;
                    width: 100%; // margin-top: 25px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%); // background: darkorange;
                }
            }

            .colMenu {

                // background: darkorange;
                .menuIcon {
                    width: 7.93vw;
                    height: 4.5vw; // position: absolute;
                    // right: 3.7vw;
                    z-index: 1;
                    transition: 0.2s linear;
                    position: relative;
                    top: 50%;
                    left: 25%;
                    ;
                    transform: translateY(-50%, 25%); // 
                    // background: green;
                }
            }
        }

        .lblSeparator12 {
            width: 100% !important; //calc(100% - 10pt);
            background: rgb(0, 144, 206) !important;
            height: 4pt;
        }
    }

    .itemDescription {
        font-family: $Montserrat-Medium !important;
        font-size: 3.43vw;
        font-weight: bold;
        color: rgb(84, 84, 84);
    }

    .scroll-content {
        margin-top: 0px;
    }

    .menuButton:active {
        background-color: transparent;
    }

    .menuButton:focus {
        background-color: transparent;
    }

    .Home-page-deal-section {
        position: relative !important;
        background: rgba(0, 0, 0, 0.3);
        width: 100% !important; // z-index: 999 !important;
        top: 0;

        .deal-section-dealOfMoment-lbl {
            font-size: 4.76vw;
            font-family: $Montserrat-Bold;
            background: red;
        }

        .deal-section-deal-product {
            background: red !important;

            .deal-section-center-container {
                margin-left: auto;
                margin-right: auto;
                background: lime;
                height: 100px;
                width: 100px;
            }

            .deal-section-deal-discount {
                background: yellow;
                position: absolute;
                margin-left: 10px;
                margin-top: 10px;
                width: 200px;
            }
        }

        .deal-section-prices-container {
            background: lime !important;
        }

        .deal-section-timeLimit {
            background: yellow !important;
        }

        .deal-section-share-ontainer {
            background: pink !important;
        }

        .deal-section-getInfo {
            background: wheat !important;
        }
    }

    .right-image {
        width: 2.116vw !important;
        height: 4.23vw !important;
    }

    .separator {
        width: 100% !important;
        font-size: 5.2vw !important; //background: #808080;
        background: rgb(219, 218, 218) !important;
        height: 1px !important;
        margin-top: 0px !important;
    }

    .contentMainTemp {
        margin-top: -80px !important;
    }

    .Home-page-listing {
        width: calc(100% - 6vw) !important;
        margin: 5vw 3vw !important;

        .featuredItem {
            min-height: 40.2vw !important;
            padding-bottom: 0px !important;
            padding: 0px !important;
            margin: 0px !important;

            .featuredImage {
                width: 25vw !important;
                height: 25vw !important;
                margin-left: 3.66vw !important;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 1vw;
            }

            .featuredItem-sectionName-lbl {
                color: black;
                font-size: 4.76vw;
                font-family: $GothamRounded-Bold;
            }

            .featuredItem-sectionDescription-lbl {
                margin-top: 1.46vw !important;
                font-size: 3.7vw;
                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
            }

            .featuredItem-otherDescription-lbl {
                // margin-top: 7px;
                margin-top: 1.46vw !important;
                font-size: 3.2vw;
                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
            }
        }

        .unFeaturedItem {
            min-height: 32vw !important;
            margin: 0px;
            margin: 0px;
            padding-bottom: 0px !important;
            // background: rgb(238, 238, 238) !important;
            // background: white !important;
            background: rgba(235, 231, 231, 0.3);
            border-bottom: 5px solid red; // background: blue !important;

            .unFeaturedItemImage {
                width: 22vw !important;
                height: 22vw !important;
                margin-left: 18px !important;
                align-content: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 5px;

            }

            .unFeaturedItem-sectionName-lbl {
                color: black;
                font-size: 4.76vw;
                font-family: $GothamRounded-Bold;
                // $GothamRounded-Bold

            }

            .unFeaturedItem-sectionDescription-lbl {
                margin-top: 7px;
                font-size: 3.7vw;

                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
                // background: green;
            }

            .unFeaturedItem-otherDescription-lbl {
                margin-top: 0px !important;
                font-size: 3.2vw;

                font-family: $GothamRounded-Book !important;
                color: rgb(14, 6, 3);
                // background: green;
            }
        }

        .dealOfMomentItem {
            // background: rgb(238, 238, 238) !important;
            background: white !important;
        }
    }

    .item-inner {
        min-height: 1px !important;
    }

    .label-md {
        margin-bottom: 1px !important;
        margin-top: 1px !important;
    }

    ion-item-divider {
        margin-bottom: 0px;
        min-height: 1px !important;
    }

    .separator {
        background-color: rgb(230, 230, 230);
        height: 2px !important;
        margin-bottom: 0px !important;
    }

    .backButton {
        font-size: 5.29vw;
        font-weight: 'bold';
    }

    .mainView {
        background-color: rgb(240, 240, 240);
    }

    .item-ios ion-reorder {
        z-index: 9898;
        position: absolute;
        right: 10pt; // bottom: 5pt;
        // width: 10pt;
        // height: 15pt;
        padding: 0pt;
        margin: 0pt;
        background: transparent;
    }

    .item-md ion-reorder {
        z-index: 9898;
        position: absolute;
        right: 10pt;
        bottom: 5pt;
        width: 10pt;
        height: 10pt;
        padding: 0pt;
        margin: 0pt;
    }

    .topImage {
        background: red;
        height: 202px;
        margin-left: 28px !important;
        padding: 20px;
        padding-top: 53px;
        padding-bottom: 53px;
        width: 102px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }

    //testing contents
    //end testing contents
    // CSS for showing last doctors to whom he made an appointment
    .salonCard {
        width: calc(100% - 8vw);
        background: white !important;
        box-shadow: none;

        margin: 3.7vw 4vw !important;

        .right-arrow {
            width: 2.116vw !important;
            height: 4.23vw !important;
            position: relative;
            z-index: 99999999;
            // margin-top: 7vw;
            // margin-right: 3.5vw;
            right: 2.64vw;
            top: 50% !important;
            transform: translateY(-50%) !important;
            float: right;

            background: blue;
        }

        .doctor-info-row {
            // min-height: 22vw;
            // background: purple;
        }

        .col-img-doctor {
            &:first-of-type {
                flex: 0 0 20%;
            }

            // background: gold;
            .img-sal-doctor {
                width: 14vw;
                height: 14vw;
                background: $Beautyapp-gradient-color;
                position: relative;
                // z-index: 0;

                border-radius: 50%;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                // background: green !important;
            }
        }

        .col-right-sal-info {
            // background: green;

            width: 100%;
            height: auto;

        }

        .salonName {
            // background: gold;
            margin-left: 1vw !important;
            // margin-top: 2vw;
            width: calc(100% - 3vw);

            color: rgb(67, 67, 67);
            font-size: 3.9vw;
            text-align: left;
            font-family: $Montserrat-Bold;
            background: transparent;
            position: relative;

            position: relative;
            // background: dodgerblue;

        }

        .lbl-sal-speciality {
            font-size: 3vw;
            // color: rgb(174, 174, 174) !important;
            font-family: $Montserrat-Medium !important;
            // color:red !important;
            // Word-wrap: break-word !important;
            // overflow-wrap: break-word !important        ;
            // max-width: 30vh;
            height: auto;
        }

        .lbl-sal-address {
            font-size: 3.3vw;
            font-family: $Montserrat-Medium !important;
            margin-top: 1.2vw !important;
        }

        .SalonAddress {
            margin-top: 5.3pt;
            width: calc(100% - 13.3pt);
            margin-left: 9.7pt !important;
            margin-right: 4pt !important; //
            margin-bottom: 4pt;
            position: relative;

            .lblAddress {
                font-size: 3.7vw;
                width: 100%;
                line-height: 13.5pt;
                color: rgb(150, 150, 150);
                font-family: 'montserrat-light';
                float: left;
                margin-top: 0px;
            }

            .PinImageWithDistance {
                // width: 100%; //calc(100% - calc(100% - 88pt));
                width: calc(100% - 9pt); // height: 15pt; // margin-right: 0pt;
                // margin-left: 0pt !important;
                height: auto;
                overflow: hidden;
                padding: 0pt;
                margin: 0pt;
                float: right;
                font-family: 'Montserrat-Medium'; // 

                // background: deepskyblue;
                .pinImage {
                    width: 6pt; // height: 9pt;
                    height: calc(100% - 2pt);
                    float: left; // position: relative;
                    // right: 0pt !important;
                    margin-right: 0pt !important; // 
                    margin-left: 8pt;
                    margin-top: 3.5pt; // background: red;
                }

                .pinDistance {
                    height: calc(100% - 2pt);

                    float: none;
                    width: auto;
                    overflow: hidden;
                    font-size: 3.17vw;
                    font-family: 'Montserrat-Regular';
                    letter-spacing: 0.4;

                    margin: 1pt 0pt 1pt 0pt !important;
                    color: rgb(255, 95, 109);
                    text-align: left;
                    text-align: center;
                }
            }

        }

        .ratingCard {
            width: 100%;
            box-shadow: none; // 
            max-height: 6vw !important;
            position: relative;
            top: 4.6vw;

            ul {
                padding: 0pt !important;
                margin-top: 2px;
                // margin-bottom: 0pt;
                // background: deeppink;
                margin-left: 0pt !important;

                &.rating li {
                    padding: 3px 0px 0px 0px !important;
                    background: none; // color: rgb(255, 189, 2);
                    color: rgb(89, 185, 75);

                    ion-icon {
                        font-size: 5.28vw;
                    }
                }
            }

            .ratingValue {
                margin-top: 3px;
                margin-left: 10px;
                margin-right: 3px;
                float: left;
                white-space: normal;
                text-align: left;
                font-size: 3.88vw;
                font-family: 'SanFranciscoDisplay_Semibold' !important; // font-family: 'Montserrat-Medium' !important;
                // color: rgb(255, 189, 2);
                color: rgb(89, 185, 75);
                position: relative; // background: red;
            }

            .withNoRating {
                float: left;
                margin-left: 9px !important;
                position: relative; // background: chocolate;
            }

            .withRating {
                float: left; // margin-left: 2px;
                margin-left: 0px !important;
                position: relative;
                padding-bottom: 10px !important;
                margin-top: 0pt; //  margin-bottom: 14pt;
            }

            .notEnoughRating {
                text-align: left;
                font-size: 3.17vw;
                float: left;
                white-space: normal;
                font-family: 'Montserrat-Regular' !important;
                color: rgb(150, 150, 150);
                position: relative;
                padding-left: 2pt;
                margin-top: 3pt;
                margin-left: 8px !important;
                margin-bottom: 5pt; // background: green;
                padding-bottom: 10px !important;
                clear: both;
            }
        }

        .qualification-contact-row {

            padding-top: 2px;

            .col-degree-number {

                &:first-of-type {
                    flex: 0 0 13%;
                }
            }

            .img-degree {
                width: 8vw;
                height: 8vw;

                position: relative;
                z-index: 0;
                border-radius: 50%;
                position: relative;
                top: 50%;
                left: 70% !important;
                transform: translate(-50%, -50%);

            }
        }

        .lblBoldText {

            margin-left: 1.5vw !important;
            font-size: 4.23vw;
            color: rgb(38, 38, 38);

            font-family: $Montserrat-SemiBold !important;

            // background: deeppink !important;
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            .lblDimText {
                text-align: left;
                letter-spacing: 0.3px;
                color: rgba(104, 104, 104, 0.9);
                margin-top: 10px;
                margin-bottom: 15px;
                font-size: 3.3vw;
                font-family: $Montserrat-Regular !important;
                // color: green !important;

            }
        }

        .promotionContainer {
            margin-top: 0pt;
            padding-bottom: 5pt;
            background: rgb(255, 95, 109);
            box-shadow: none;
            width: 100% !important;

            .oferrTitle {
                margin: 5pt 10pt 0pt 10pt;
                font-size: 3.7vw;
                width: calc(100% - 20pt);
                white-space: normal;
                overflow: hidden;
                font-family: 'Montserrat-Regular' !important;
                color: white;
                background: transparent
            }

            .btnViewAllPromotions {
                position: relative;
                margin-right: 10pt !important;
                float: right;
                padding: 0pt;
                margin: 0pt;
                width: 100pt;
                height: 20pt;
                text-align: right;
                color: white;
                font-size: 3.97vw;
                font-family: 'Montserrat-Regular' !important; // font-family: 'SanFranciscoDisplay_Semibold' !important;
                background: transparent;
            }
        }
    }

    .btnNext {
        width: 55vw;
        text-align: center;

        align-content: center;
        background-color: $MyDoc-Shadded-color;
        color: white;
        font-size: 4vw;
        font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-SemiBold !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);

        margin-bottom: 1vw;
        margin-top: 1vw;
        padding: 1vw;
        border-radius: 2vw;

    }
}