<ion-header [ngClass]="!isFirstTime ? 'ionHeader' : 'noClass' ">
  <ion-row no-padding no-margin class="headerRow">
    <ion-col col-2 class="colBackArrow"> </ion-col>
    <ion-col col-8 no-padding no-margin class="colHheaderLabel">
      <!-- <div id="testTap" (click)="eventName()"></div> -->
      <ion-label class="upperHeading" (tap)="switchEnviroment($event)"> Home </ion-label>
    </ion-col>
    <ion-col col-2 hidden no-padding no-margin class="colMenu" menuToggle>
      <img class="menuIcon" src="./assets/imgs/menu.png" />
    </ion-col>
  </ion-row>
  <ion-label no-padding no-margin class="lblSeparator12"></ion-label>
</ion-header>
<ion-content>
  <ion-list [attr.disabled]='true' class="Home-page-listing" *ngFor="let item of  homepageData; let i=index" no-padding
    no-margin no-lines no-margins>
    <ion-item *ngIf="item.sort_order === '1' && item.isDeal!== 1 " class="featuredItem" (click)='findNextPage(item)'>
      <img item-left class="featuredImage" [src]="homeImageUrl + item.sectionImage" />
      <div class="featuredItem-sectionName-lbl" text-wrap [innerHtml]='item.sectionName'>
      </div>
      <span text-wrap hidden class="featuredItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
      <span text-wrap class="featuredItem-otherDescription-lbl">{{item.otherDescription}}</span>
      <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
    </ion-item>
    <ion-item no-padding no-margin class="unFeaturedItem" *ngIf="item.sort_order !== '1' && item.isDeal!=1"
      (click)='findNextPage(item)'>
      <img item-left class="unFeaturedItemImage" [src]="homeImageUrl + item.sectionImage" />
      <div class="unFeaturedItem-sectionName-lbl" text-wrap [innerHtml]='item.sectionName'>
      </div>
      <span text-wrap hidden class="unFeaturedItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
      <span text-wrap class="unFeaturedItem-otherDescription-lbl">{{item.otherDescription}}</span>
      <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
    </ion-item>
    <div class="separator"> </div>
  </ion-list>
  <ion-list no-padding no-margin [hidden]="!lastThreeDoctors || lastThreeDoctors.length === 0" class="salonCard"
    *ngFor="let salon of lastThreeDoctors; let i = index" (click)="openDetailsPage(salon, $event)">
    <ion-row class="doctor-info-row">
      <ion-col class="col-img-doctor">
        <img class="img-sal-doctor" *ngIf="salon.sal_pic && salon.sal_pic.length > 0"
          [src]="homeImageUrl + salon.sal_pic" onError="this.src='./assets/imgs/app_icon.png'" />
      </ion-col>
      <ion-col class="col-right-sal-info">
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin>
            <ion-label no-padding no-margin *ngIf="salon.sal_register_as === '1'" text-wrap text-left class="salonName">
              {{ salon.sal_name }}
            </ion-label>
            <ion-label no-padding no-margin *ngIf="salon.sal_register_as === '2'" text-wrap text-left class="salonName">
              {{ salon.tech_name }}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin>
            <div no-padding no-margin text-wrap text-left
              *ngIf="salon.sal_register_as === '1' && salon.sal_specialty.length > 0"
              class="salonName lbl-sal-speciality">
              ({{ salon.sal_specialty }})
            </div>
            <div no-padding no-margin text-wrap text-left
              *ngIf="salon.sal_register_as === '2' && salon.sal_specialty.length > 0"
              class="salonName lbl-sal-speciality">
              ({{ salon.tech_specialty }})
            </div>
          </ion-col>
        </ion-row>
        <ion-row no-padding no-margin>
          <ion-col no-padding no-margin>
            <ion-label no-padding no-margin text-wrap text-left class="salonName lbl-sal-address">
              {{ salon.sal_address }}
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col hidden col-1>
        <img class="right-arrow" src="./assets/imgs/back-ionc-home.png" (click)="makeSalonFavoriteTapped(salon, i)" />
      </ion-col>
    </ion-row>
    <ion-row hidden class="SalonAddress">
      <ion-col col-9>
        <ion-label text-wrap class="lblAddress">{{ salon.sal_address }}
          {{ salon.sal_zip }}</ion-label>
      </ion-col>
      <ion-col hidden col-3 text-wrap>
        <div class="PinImageWithDistance">
          <img class="pinImage" src="./assets/imgs/sal_pinLocation.png" />
          <ion-label text-wrap class="pinDistance">
            {{ salon.distance | number: "1.1-1" }} {{ distanceUnit }}</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <div class="salonSeparator"></div>
    <ion-row class="qualification-contact-row">
      <ion-col class="col-degree-number">
        <img class="img-degree" src="./assets/imgs/degree.png" alt="" />
      </ion-col>
      <ion-col>
        <ion-label class="lblBoldText">
          <span text-wrap *ngIf="salon.sal_register_as === '1'" class="lblDimText">{{salon.sal_degree}}</span>
          <span text-wrap *ngIf="salon.sal_register_as === '2'" class="lblDimText">{{salon.tech_degree}}</span>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row no-padding no-margin>
      <ion-col no-padding no-margin>
        <div class="btnNext" (click)="openDetailsPage(salon, $event)">Make Appointment</div>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list [attr.disabled]='true' class="Home-page-listing" *ngFor="let item of  homepageSecondPart; let i=index"
    no-padding no-margin no-lines no-margins>
    <ion-item *ngIf="item.sort_order === '1' && item.isDeal!== 1 " class="featuredItem" (click)='findNextPage(item)'>
      <img item-left class="featuredImage" [src]="homeImageUrl + item.sectionImage" />
      <div class="featuredItem-sectionName-lbl" text-wrap [innerHtml]='item.sectionName'>
      </div>
      <span text-wrap hidden class="featuredItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
      <span text-wrap class="featuredItem-otherDescription-lbl">{{item.otherDescription}}</span>
      <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
    </ion-item>
    <ion-item no-padding no-margin class="unFeaturedItem" *ngIf="item.sort_order !== '1' && item.isDeal!=1"
      (click)='findNextPage(item)'>
      <img item-left class="unFeaturedItemImage" [src]="homeImageUrl + item.sectionImage" />
      <div class="unFeaturedItem-sectionName-lbl" text-wrap [innerHtml]='item.sectionName'>
      </div>
      <span text-wrap hidden class="unFeaturedItem-sectionDescription-lbl">{{item.sectionDescription}}</span>
      <span text-wrap class="unFeaturedItem-otherDescription-lbl">{{item.otherDescription}}</span>
      <img item-right class="right-image" src="./assets/imgs/back-ionc-home.png" />
    </ion-item>
    <div class="separator"> </div>
  </ion-list>
</ion-content>