page-beauty-tips-view {
    .miniHeader-dt {
        height: 50pt;
        background-image: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                width: 100%;
                .upperHeading {
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }
    .ionHeader-dt {
        width: 100%;
        z-index: 999;
        position: relative;
        background: $Beautyapp-gradient-color;
        .headerRow {
            .backIcon {
                width: 35px;
                height: 15px;
                margin-top: 28pt;
                margin-left: 12.5pt;
                margin-bottom: 0pt;
                z-index: 99999; // 
                transition: 0.2s linear;
            }
            .colHheaderLabel {
                // background: deeppink !important;
                width: 100%;
                .upperHeading {
                    // height: 30px;
                    color: #ffffff;
                    font-family: $Montserrat-Bold !important;
                    font-size: 4.63vw;
                    width: 100%;
                    margin-top: 14px !important;
                    text-align: center;
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            .colMenu {
                // background: darkorange;
                .menuIcon {
                    width: 30px;
                    height: 17px; // width: 25pt;
                    // height: 8.5pt;
                    margin-top: 31pt;
                    position: absolute;
                    right: 15.5pt;
                    z-index: 1; // 
                    transition: 0.2s linear; // 
                    // background: green;
                }
            }
        }
    }
    .genderSelection {
        margin-top: -25px !important;
        background: #ffffff !important; // background-image: $Beautyapp-gradient-color;
        width: calc(100% - 0pt);
        .BaseGenderSegment {
            // margin-top: 70px !important;
            //background: white !important;
            width: calc(100% - 30pt);
            margin-left: 15pt;
            margin-right: 15pt;
            height: 40.5pt; // position: absolute;
            // bottom: 0;
            // padding-bottom: 2px !important;
            // top: 0 ;
            margin-top: 20pt; // bottom: -23.5pt;
            border-radius: 24.5pt; // z-index: 99999 !important;
            // margin-bottom: 15pt !important;
            //  background: #ec4e89;
            .GenderSegement {
                background: transparent !important;
                width: 100%;
                height: calc(100% - 5pt);
                margin-bottom: 0pt !important;
                .segment-button {
                    height: 25pt;
                    background: transparent !important;
                    border-color: transparent !important;
                    margin-top: 0pt !important;
                    margin-bottom: 0pt !important;
                    line-height: 25pt !important; //color: rgb(35, 31, 32);
                    //    color:  white !important;
                    color: #000000 !important;
                    font-size: 3.97vw;
                    line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                    font-family: $Montserrat-Regular;
                }
                .segment-button.segment-activated {
                    height: 25pt;
                    line-height: 25pt !important;
                    margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                    //    color:  white !important;
                    color: #000000 !important;
                    font-size: 4.5vw;
                    font-family: $Montserrat-Regular;
                    line-height: 30pt !important;
                }
            }
            .sliderContainer {
                margin-left: 22px !important;
                margin-right: 22px !important; //    margin-top: 3px !important;
                height: 2pt;
                width: calc(100% - 44pt) !important;
                background-color: transparent;
                box-shadow: none;
                .slider {
                    background-image: $Beautyapp-gradient-color; //    background: white !important;
                    //  background-color: rgb(236, 78, 137) !important;
                    height: 100% !important;
                    margin-bottom: 0pt !important;
                    width: calc(50% - 20pt); // float: right;
                    padding-top: 5px !important;
                    margin-top: 0px;
                    margin-bottom: 0pt;
                    margin-left: 1px;
                }
            }
        }
    }
    .feature-item-image {
        // background:yellow;
        margin-top: 10px;
        margin-left: 16px !important;
        margin-right: 16px !important; //  width: 100% !important;
        width: calc( 100% - 32px);
        img {
            display: block;
            width: 100% !important;
        }
    }
    .hero-article {
        margin-top: 10px !important;
    }
    .heroArticleImage-dt {
        margin-right: 10px !important;
        margin-left: 10px !important;
        position: relative; // width: 100%;
        width: calc( 100% - 20px); // height: 180pt !important; // position: absolute !important;
    }
    .heroArticleContent-view-page {
        position: absolute !important;
        background: rgba(0, 0, 0, 0.3);
        width: 100% !important;
        height: 180pt !important; // z-index: 999 !important;
        top: 0;
        margin-top: 112pt;
        .divAddToFavorite {
            width: 140pt;
            margin-right: 10pt;
            margin-top: 40pt;
            float: right;
            background: rgb(229, 78, 132);
            border-radius: 3pt !important;
            ion-label {
                color: white;
                font-family: $Montserrat-Regular;
                font-size: 4.23vw;
                float: left;
                background: transparent;
                padding: 5pt;
            }
            img {
                width: 12pt;
                height: 12.5pt;
                float: left;
                margin-top: 7.5pt;
                margin-left: 0pt;
                background: transparent;
            }
        }
    }
    .heroArticleBottomContent-view-page {
        position: relative; //bottom: 8px;
        left: 16px;
        right: 16px; // top: 0 !important;
        margin-top: 12px;
        width: calc( 100% - 32pt);
        .lblTitle {
            //new properties
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; //    line-height: 30px;
            //     max-height: 60px;
            -webkit-box-orient: vertical; //old properties
            font-family: $Montserrat-Regular !important;
            font-size: 4.23vw;
            color: rgb(0, 0, 0)
        }
        .tagStyleTop {
            color: rgb(165, 10, 10);
            font-size: 4.23vw;
            font-family: $Montserrat-Bold !important;
        }
        .lblDescription {
            //    background: #e74e86;
            margin-top: 7px; //new properties
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2; //    line-height: 30px;
            //     max-height: 60px;
            -webkit-box-orient: vertical; //old properties
            font-family: $montserrat-light;
            font-size: 3.43vw;
            color: rgb(0, 0, 0)
        }
        .ratingCard {
            width: 100%;
            background: transparent;
            box-shadow: none; // background: rgb(98, 147, 163);
            ul {
                padding: 0pt;
                margin-top: 2pt;
                margin-bottom: 0pt;
                background: transparent;
                &.rating li {
                    padding: 3pt 0pt 0pt 0pt !important;
                    background: none;
                    color: rgb(255, 189, 2);
                    ion-icon {
                        font-size: 5.29vw;
                    }
                }
            }
            .ratingValue {
                margin-top: 3pt;
                margin-left: 10pt;
                margin-right: 3pt;
                float: left;
                white-space: normal;
                text-align: left;
                font-size: 3.88vw;
                font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-Medium !important;
                color: rgb(255, 189, 2);
                position: relative; // background: red;
            }
            .withNoRating {
                float: left;
                margin-left: 16px;
                position: relative; // background: chocolate;
            }
            .withRating {
                float: left;
                margin-left: 2px;
                position: relative;
                margin-top: 0pt; //  margin-bottom: 14pt;
            }
            .notEnoughRating {
                text-align: left;
                font-size: 3.17vw;
                float: left;
                white-space: normal;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(150, 150, 150);
                position: relative;
                padding-left: 2pt;
                margin-top: 3pt;
                margin-left: 16px; // padding-bottom: 14pt;
                margin-bottom: 5pt; // background: green;
                clear: both;
            }
        }
    }
    .heroArticleBottomContentUrdu-viewpage {
        position: relative; //bottom: 8px;
        left: 16px;
        right: 16px; // top: 0 !important;
        direction: rtl;
        margin-top: 12px;
        width: calc( 100% - 32pt);
        .lblTitle {
            //
            //   background: lime;
            font-family: $jameel-noori !important;
            direction: rtl;
            text-align: justify;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            font-size: 5.29vw;
            color: rgb(0, 0, 0);
            letter-spacing: -0.5pt;
            line-height: 30px;
            padding-top: 6px;
        }
        .tagStyleTop {
            text-align: start;
            width: 100% !important;
            color: rgb(165, 10, 10);
            font-size: 4.23vw;
            font-family: $Montserrat-Bold !important;
        }
        .lblDescription {
            // background: lime;
            //to apply jameel-noori-urdu
            font-family: $jameel-noori !important;
            direction: rtl;
            text-align: justify;
            text-decoration: none;
            letter-spacing: -0.5pt; //end to apply jameel-noori-urdu
            margin-top: 8px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical; //font-family: $montserrat-light !important;
            // font-family: JameelNoori !important ;
            font-size: 4.23vw;
            color: rgb(0, 0, 0);
        }
        .ratingCard {
            width: 100%;
            background: transparent;
            box-shadow: none; // background: rgb(98, 147, 163);
            ul {
                padding: 0pt;
                margin-top: 2pt;
                margin-bottom: 0pt;
                background: transparent;
                &.rating li {
                    padding: 3pt 0pt 0pt 0pt !important;
                    background: none;
                    color: rgb(255, 189, 2);
                    ion-icon {
                        font-size: 5.29vw;
                    }
                }
            }
            .ratingValue {
                margin-top: 3pt;
                margin-left: 10pt;
                margin-right: 3pt;
                float: left;
                white-space: normal;
                text-align: left;
                font-size: 3.88vw;
                font-family: $Montserrat-SemiBold !important; // font-family: $Montserrat-Medium !important;
                color: rgb(255, 189, 2);
                position: relative; // background: red;
            }
            .withNoRating {
                float: left;
                margin-left: 16px;
                position: relative; // background: chocolate;
            }
            .withRating {
                float: left;
                margin-left: 2px;
                position: relative;
                margin-top: 0pt; //  margin-bottom: 14pt;
            }
            .notEnoughRating {
                text-align: left;
                font-size: 3.17vw;
                float: left;
                white-space: normal;
                font-family: $Montserrat-SemiBold !important;
                color: rgb(150, 150, 150);
                position: relative;
                padding-left: 2pt;
                margin-top: 3pt;
                margin-left: 16px; // padding-bottom: 14pt;
                margin-bottom: 5pt; // background: green;
                clear: both;
            }
        }
    }
    ion-content {
        background: white
    }
    .contnet {
        background: white;
    }
    .title {
        z-index: 999;
        height: 160px; // background: red;
        position: absolute;
        width: 100%;
        align-content: left !important;
        text-align: left !important;
        top: 70px;
    }
    .navBar {
        height: 116px;
    } // button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
    //     margin-top: -50px;
    // }
    button.back-button.disable-hover.bar-button.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
        margin-top: -5px;
        color: black;
    }
    .toolbar-title {
        height: 102px;
        ;
    }
    .backIcon {
        width: 40px;
        margin-top: 30px;
        background: transparent;
        height: 40px;
        color: white;
        padding: 0px;
        opacity: 1.0;
    }
    .backIcon:active {
        background-color: transparent;
    }
    .backIcon:focus {
        background-color: transparent;
    }
    .backImage {
        height: 29px !important;
        width: 52px !important;
        padding-top: 7px;
        object-fit: contain;
        color: white;
        margin-top: 25px;
        margin-left: -50px;
        z-index: 1;
    }
    .featuredImage {
        height: 102px;
        margin-left: 27px !important;
        padding: 20px;
        margin-top: 0px !important;
        background: white; // margin-bottom: 25px !important;
        width: 102px;
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        z-index: 999;
    }
    .subHeading {
        color: white;
        margin-left: 140px !important;
        font-size: 3.43vw;
        margin-top: -10px;
        font-family: $Montserrat-Medium !important;
    }
    .beautyTipRow {
        margin-top: 20pt;
        width: 100%;
        z-index: 99;
        .beautyTipColumnEven {
            background: white; // background: green;
            margin-bottom: 20pt;
            border-left: white solid 12pt;
            border-right: white solid 8pt;
            .lblBeautyTag {
                width: 87pt;
                height: 28pt;
                position: absolute;
                background: rgb(229, 78, 132);
                font-family: $Montserrat-Regular;
                font-size: 4.23vw;
                color: white;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 0pt;
                margin-top: 10pt;
            }
            .serviceImage {
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 180pt;
                margin-top: 0pt;
            }
            .lblShortDescription {
                padding: none;
                color: black;
                font-size: 4.92vw;
                ;
                font-family: $Montserrat-Bold !important;
                width: 90% !important;
                text-align: center;
                background: white;
                padding-bottom: 2pt;
                margin-left: 5% !important;
                margin-right: 5% !important;
            }
            .lblFullDescription {
                color: rgb(96, 96, 96);
                font-size: 4.23vw;
                ;
                font-family: $montserrat-light;
                width: 90% !important;
                margin-left: 5% !important;
                margin-right: 5% !important;
                text-align: center; // letter-spacing: 1.2pt;
            }
        }
        .beautyTipColumnOdd {
            width: 100%;
            background: white;
            margin-bottom: 20pt;
            border-right: white solid 12pt;
            border-left: white solid 8pt;
            .lblBeautyTag {
                width: 87pt;
                height: 28pt;
                position: absolute;
                background: rgb(229, 78, 132);
                font-family: $Montserrat-Regular;
                font-size: 4.23vw;
                color: white;
                font-weight: bold;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 0pt;
                margin-top: 10pt;
            }
            .serviceImage {
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 180pt;
                margin-top: 0pt;
            }
            .lblShortDescription {
                padding: none;
                color: black;
                font-size: 4.92vw;
                ;
                font-family: $Montserrat-Bold !important;
                width: 90% !important;
                text-align: center;
                background: white;
                padding-bottom: 2pt;
                margin-left: 5% !important;
                margin-right: 5% !important;
            }
            .lblFullDescription {
                color: rgb(96, 96, 96);
                font-size: 4.23vw;
                ;
                font-family: $montserrat-light;
                width: 90% !important;
                margin-left: 5% !important;
                margin-right: 5% !important;
                text-align: center; // letter-spacing: 1.2pt;
            }
        }
    }
    .label-ios {
        margin: 0;
    }
    .label-md {
        margin: 0px 0px 0px 0px;
    }
    .moreOnBeautyTips {
        font-family: $Montserrat-Bold !important;
        font-size: 4.23vw;
        text-align: left;
        line-height: 30pt;
        background: white;
        margin-left: 16pt;
    }
    .servicesRow {
        width: 100%;
        margin-bottom: 10pt !important;
        background: white;
        border-right: white solid 8px;
        border-left: white solid 8px;
        .servicesColumn {
            width: 100% !important;
            background: white;
            border-right: white solid 4px;
            border-left: white solid 4px;
            .serviceImage {
                width: 100%;
                height: 96px; // margin-bottom: 0px !important;
                // justify-content: center;
                // align-items: center;
            }
            .serviceName {
                color: white;
                font-size: 4.5vw;
                font-family: $Montserrat-Bold !important;
                text-align: center;
                background-image: $Beautyapp-gradient-color; // margin-top: 0px !important;
                margin-bottom: 10px;
            }
            .serviceBox {
                background: #e74e86;
                width: 50% !important;
                align-content: center;
                text-align: center;
                font-weight: bold;
                margin-bottom: 5pt;
            }
        }
    } //new design in listing format
    .lstContent {
        margin-top: 30px;
        .listingContent {
            padding: 0px !important;
            width: calc(100% - 34px);
            margin-left: 17px;
            margin-right: 17px;
            margin-bottom: 20pt;
            border-bottom: 1px solid rgb(184, 184, 184);
        }
        .imageContent {
            float: left;
            width: 138px;
            .unFeaturedImage {
                width: 138px;
            } // .unFeaturedItem {
            //     background: #e74e86 !important;
            //     // height: 144px;
            //     margin: 0pt !important;
            //     padding: 0px!important;
            //     width: 138px;   
            //      
            // }
        }
        .otherContent {
            float: right;
            width: calc(100% - 138px);
            .lblTitle-english {
                font-family: $montserrat-light !important;
                padding-left: 10pt;
                font-size: 4.23vw;
            }
            .tagStyle {
                color: rgb(165, 10, 10);
                font-size: 4.23vw;
                font-family: $Montserrat-Bold !important;
            }
        }
        .separator {
            margin-top: 10pt !important;
            margin-bottom: 10pt !important; // background: black;
            height: 1px;
            width: 100% !important;
            clear: both;
        }
    }
    .lstContentUrdu {
        margin-top: 30px;
        .listingContent {
            padding: 0px !important;
            width: calc(100% - 34px);
            margin-left: 17px;
            margin-right: 17px; //  padding-left: 17px;
            //  padding-left: 17px;
            margin-bottom: 20pt;
            border-bottom: 1px solid rgb(184, 184, 184);
        }
        .imageContent {
            float: right;
            width: 138px;
            .unFeaturedImage {
                width: 138px;
            }
        }
        .otherContent {
            // background:red;
            float: left;
            ;
            width: calc(100% - 138px);
            .lblTitle-Urdu {
                direction: rtl; //  background: #e74e86;
                // font-family: $Montserrat-Bold !important;
                //to apply jameel-noori-urdu
                font-family: $jameel-noori !important;
                direction: rtl;
                text-align: justify;
                text-decoration: none; //end to apply jameel-noori-urdu
                // background: lime;
                padding-left: 17px;
                padding-left: 17px;
                padding-right: 10pt;
                font-size: 5.29vw;
                letter-spacing: -0.5pt;
            }
            .tagStyleUrdu {
                color: rgb(165, 10, 10);
                font-size: 4.23vw;
                font-family: $Montserrat-Bold !important;
            }
           
        }
        .separator {
            margin-top: 10pt !important;
            margin-bottom: 10pt !important; // background: black;
            height: 1px;
            width: 100% !important;
            clear: both;
        }
    }
}