page-terms-and-conditions {

  .ionHeader {
    width: 100%;
    z-index: 999;
    padding-bottom: 10px;
    position: relative;
    background: $Beautyapp-gradient-color;
    .headerRow {
        .backIcon {
            width: 35px;
            height: 15px;
            margin-top: 28pt;
            margin-left: 12.5pt;
            margin-bottom: 0pt;
            z-index: 99999; // 
            transition: 0.2s linear;
        }
        .colHheaderLabel {
            // background: deeppink !important;
            width: 100%;
            .upperHeading {
                // height: 30px;
                color: #ffffff;
                font-family: $Montserrat-Bold !important;
                font-size: 4.63vw;
                width: 100%;
                margin-top: 14px !important;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .colMenu {
            // background: darkorange;
            .menuIcon {
                width: 30px;
                height: 17px; // width: 25pt;
                // height: 8.5pt;
                margin-top: 31pt;
                position: absolute;
                right: 15.5pt;
                z-index: 1; // 
                transition: 0.2s linear; // 
                // background: green;
            }
        }
    }
    .BaseGenderSegment {
        //background: white !important;
        width: calc(100% - 30pt);
        margin-left: 15pt;
        margin-right: 15pt;
        height: 40.5pt; // position: absolute;
        // bottom: 0;
        padding-bottom: 2px !important; // top: 0 ;
        margin-top: 20pt; // bottom: -23.5pt;
        border-radius: 24.5pt; // z-index: 99999 !important;
        // margin-bottom: 15pt !important;
        .GenderSegement {
            background: transparent !important;
            width: 100%;
            height: calc(100% - 5pt);
            margin-bottom: 0pt !important;
            .segment-button {
                height: 25pt;
                background: transparent !important;
                border-color: transparent !important;
                margin-top: 0pt !important;
                margin-bottom: 0pt !important;
                line-height: 25pt !important; //color: rgb(35, 31, 32);
                color: white !important;
                font-size: 3.97vw;
                line-height: 30pt !important; // font-family: $Montserrat-SemiBold !important;
                font-family: $Montserrat-Regular;
            }
            .segment-button.segment-activated {
                height: 25pt;
                line-height: 25pt !important;
                margin-bottom: 0pt !important; //   color: rgb(35, 31, 32);
                color: white !important;
                font-size: 4.5vw;
                font-family: $Montserrat-Regular;
                line-height: 30pt !important;
            }
        }
        .sliderContainer {
            margin-left: 22pt !important;
            margin-right: 22pt !important;
            margin-top: 3pt;
            height: 2pt;
            width: calc(100% - 44pt) !important;
            background-color: transparent;
            box-shadow: none;
            .slider {
                background: white !important; //  background-color: rgb(236, 78, 137) !important;
                height: 100% !important;
                margin-bottom: 0pt !important;
                width: calc(50% - 20pt); // float: right;
                padding-top: 5pt !important;
                margin-top: 0px;
                margin-bottom: 0pt;
                margin-left: 1px;
            }
        }
    }
}
.allContnt{
  margin-top: 20px !important;
 
}
p{
    line-height:22px !important;
    text-align: justify !important;
  font-family: $montserrat-light;
}
h1{
   
    font-family: $Montserrat-SemiBold !important;
}
h2{
    font-family: $Montserrat-SemiBold !important;
}

    .backButton{
        position: absolute;
        bottom:50px;
        text-align:center;
        font-size:30px;
        color:white
      }
      .headerLabel{
        position: absolute;
        bottom:16px;
        width: 100%;
        text-align:center;
        font-size:30px;
        font-weight:medium;
        color:white;
      }

}
